a {
  color: flexy-color();
  text-decoration: none;
}

@include flexy-heading {
  @include antialias;
  font-weight: bold;

  &:hover {
    .b-anchor {
      opacity: 1;
    }
  }

  & + .b-caption {
    margin-top: -1em;
    margin-bottom: 1em;
  }
}