$flexy-grid-wrapper-max-width: 1280px;
$flexy-font: 'PT Sans', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !default;
$flexy-theme-sizes: (
        xsmall: 0.707em,
        small: 1em,
        medium: 1.214em,
        large: 1.499em,
        xlarge: 1.827em,
        xxlarge: 2.998em
);