$flexy-grid-wrapper-width: 1280px;

@import "flexy";

body {
  background: {
    color: #f0f3f6;
  }
}

.b-helper {
  @include ellipsis;
  margin: 5px 0;
  font-size: 14px;
  padding: 10px 0;
  background: {
    color: rgba(#5fa2ff, .4);
  }
  color: #000;
}