@import "settings";

$flexy-current-name: null;
$flexy-current-color: null;
@mixin flexy-colors($schema: $flexy-color-schema) {
  $i: 0;
  @each $name, $color in $schema {
    $flexy-current-name: $name !global;
    $flexy-current-color: $color !global;

    @if ($i == 0) {
      @content
    }

    &_#{$name} {
      @content
    }

    $i: $i + 1;
  }
}