// Typography
// ---------------------------------------

@mixin flexy-typo-init {
  // Setting root sizes and base styles.
  html {
    @include flexy-typo-rootsize;

    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
  }

  // Site-wide base styles.
  body {
    @include flexy-typo-fontsize(zeta, all);

    font-family: $flexy-font;
    font-style: normal;
    font-weight: 400;
    line-height: 2rem;
  }

  // Links.
  a {
    color: $flexy-typo-link-color;
    text-decoration: none;
    transition: color .1s, background-color .1s;

    &:hover, &:active, &:focus {
      color: $flexy-typo-link-hover;
      text-decoration: none;
    }
  }
}

@mixin flexy-typo-typeset {
  // Nice underlines for text links.
  p a, li a {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 50%, lighten($flexy-typo-link-color, 20%) 50%);
    background-position: 0 93%;
    background-repeat: repeat-x;
    background-size: 100% 0.15rem;
    text-shadow: 0.1rem 0 $flexy-typo-body-background,
    0.15rem 0 $flexy-typo-body-background,
    -0.1rem 0 $flexy-typo-body-background,
    -0.15rem 0 $flexy-typo-body-background;

    &:hover, &:active, &:focus {
      background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 50%, lighten($flexy-typo-link-hover, 20%) 50%);
    }
  }

  // Paragraphs. OpenType ligatures and oldstyle figures enabled if available.
  p {
    @include flexy-typo-baseline($fontsize: zeta, $lineheight: 2, $below: 2, $breakpoint: all);

    font-weight: 300;
    font-feature-settings: 'kern', 'onum', 'liga';
  }

  // Headings. OpenType ligatures, discretionary ligatures and lining figures enabled if available.
  h1, h2, h3, h4, h5, h6 {
    color: $flexy-typo-heading-color;
    font-family: $flexy-typo-heading-font;
    font-feature-settings: 'liga', 'lnum', 'kern';
    font-style: normal;
    font-weight: bold;
  }

  // Heading level 1.
  h1, .alpha {
    @include flexy-typo-rhythm($fontsize: alpha, $lineheight: 3, $below: 1, $breakpoint: all, $cap-height: $heading-cap-height);
  }

  // Heading level 2.
  h2, .beta {
    @include flexy-typo-rhythm(beta, 3, 1, all, $heading-cap-height);
  }

  // Heading level 3.
  h3, .gamma {
    @include flexy-typo-rhythm(gamma, 3, 1, all, $heading-cap-height);
  }

  // Heading level 4.
  h4, .delta {
    @include flexy-typo-rhythm(delta, 2, 0, all, $heading-cap-height);
  }

  // Heading level 5.
  h5, .epsilon {
    @include flexy-typo-rhythm(epsilon, 2, 0, all, $heading-cap-height);
  }

  // Heading level 6.
  h6, .zeta {
    @include flexy-typo-rhythm(zeta, 2, 0, all, $heading-cap-height);
  }

  // Lists.
  ul, ol {
    @include flexy-typo-baseline(zeta, 2, 2, all);

    li {
      font-feature-settings: 'kern', 'onum', 'liga';
      margin-left: 2rem;

      @include breakpoint(medium) {
        margin-left: 0;
      }

      ol, ul {
        padding-top: 1rem;
        margin-bottom: 1rem;
        margin-left: 2rem;
      }
    }
  }

  // Ordered lists.
  ol {
    list-style-type: none;

    li {
      counter-increment: top-level;

      &:before {
        content: counter(top-level) '.';
        font-feature-settings: 'lnum', 'tnum';
        margin-left: -3rem;
        position: absolute;
        text-align: right;
        width: 2em;
      }

      ul {

        li {

          &:before {
            content: '';
          }

          ol {

            li {
              counter-increment: alt-level;

              &:before {
                content: counter(alt-level) '.';
              }
            }
          }
        }
      }

      ol {

        li {
          counter-increment: sub-level;

          &:before {
            content: counter(top-level) '.' counter(sub-level);
          }

          ul {

            li {

              &:before {
                content: '';
              }
            }
          }

          ol {

            li {
              counter-increment: sub-sub-level;

              &:before {
                content: counter(top-level) '.' counter(sub-level) '.' counter(sub-sub-level);
              }
            }
          }
        }
      }
    }
  }

  // Definition lists.
  dl {
    @include flexy-typo-baseline(zeta, 2, 2, all);

    dt, dd {
      font-feature-settings: 'kern', 'onum', 'liga';
      margin-left: 2rem;

      @include breakpoint(medium) {
        margin-left: 0;
      }
    }

    dt {
      font-weight: bold;
    }

    dd + dt {
      padding-top: 1rem;
    }
  }

  // Tables.
  table {
    @include flexy-typo-rhythm(eta, 2, 0, all);

    font-family: $flexy-typo-heading-font;
    font-feature-settings: 'liga', 'lnum', 'tnum', 'kern';
    font-style: normal;
    font-weight: 400;
    width: 100%;

    box-sizing: border-box;
    border-collapse: collapse;

    thead {

      th {
        @include flexy-typo-rhythm(zeta, 2, 0, all);
        padding-bottom: 1px;
      }
    }
  }

  // Bold.
  b, strong, .bold {
    font-weight: bold;
  }

  // Italic.
  em, i, .italic {
    font-style: italic;
  }

  // Caption and inline small text.
  small, .caption {
    @include flexy-typo-fontsize(theta, all);

    font-family: $flexy-typo-heading-font;
    font-style: normal;
    font-weight: 400;
  }

  small {
    line-height: 1rem;
  }

  .caption {
    @include flexy-typo-baseline(theta, 2, 2, all);

    color: $flexy-typo-caption-color;
  }

  // Nice spacing for captions.
  h1 + .caption, .alpha + .caption, h2 + .caption, .beta + .caption, h3 + .caption, .gamma + .caption {
    margin-top: -1rem;
  }

  .delta + .caption, .epsilon + .caption, .zeta + .caption {
    margin-top: 0;
  }

  // Quotes.
  blockquote {

    p {
      border-left: 0.15rem solid $flexy-typo-link-color;
      font-style: italic;
      padding-left: 1rem;

      // Add spacing below blockquote paragraphs to align to baseline grid.
      $get-scale: map-get($modular-scale, scale-0);
      $get-size: map-get($get-scale, zeta);
      $rootsize: nth($sizes, 1);
      $baseline-shift: #{($get-size / 2 * ((2 * $rootsize / $get-size) - $base-cap-height)) / $rootsize + 0.00001};
      $baseline-push: #{3 - (($get-size * ((2 * $rootsize / $get-size) - $base-cap-height)) / $rootsize + 0.00001)};

      margin-bottom: #{$baseline-push}rem;
      padding-bottom: #{$baseline-shift}rem;

      @for $i from 2 through $breakpoints-limit {
        $get-scale: map-get($modular-scale, scale-#{$i - 1});
        $get-size: map-get($get-scale, zeta);
        $rootsize: nth($sizes, $i);
        $baseline-shift: #{($get-size / 2 * ((2 * $rootsize / $get-size) - $base-cap-height)) / $rootsize + 0.00001};
        $baseline-push: #{3 - (($get-size * ((2 * $rootsize / $get-size) - $base-cap-height)) / $rootsize + 0.00001)};

        $point: to-int(nth($points, $i));
        @media screen and (min-width: $point / 16 * 1em) {
          margin-bottom: #{$baseline-push}rem;
          padding-bottom: #{$baseline-shift}rem;
        }
      }
    }

    @include breakpoint(medium) {
      margin-left: -1rem;
    }
  }

  // Horizontal rule.
  hr {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 50%, $flexy-typo-caption-color 50%);
    background-position: 0 50%;
    background-repeat: repeat-x;
    background-size: 100% 0.15rem;
    border: 0;
    margin: 0;
    padding-bottom: 3rem;
    padding-top: 3rem;
  }

  // Code block.
  code, pre {
    background-color: $flexy-typo-code-background;
    font-family: $flexy-typo-code-font;
  }

  pre {
    display: block;
    margin-bottom: 2rem;
    padding: 1rem;
    white-space: pre;
    white-space: pre-wrap;
    word-break: break-all;
    word-wrap: break-word;
  }

  code {
    @include flexy-typo-fontsize(theta, all);

    line-height: 1rem;
  }

  // Letter space those capitals people, Jan Tschichold would be proud.
  .upper {
    font-kerning: normal;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
  }

  // Real small caps.
  .small-caps {
    font-feature-settings: 'smcp', 'kern';
    font-kerning: normal;
    letter-spacing: 0.1rem;
  }

  // Consistent height numbers with OpenType.
  .lining-numerals {
    font-feature-settings: 'lnum', 'kern';
  }

  // Ascending and descending numbers with OpenType.
  .oldstyle-numerals {
    font-feature-settings: 'onum', 'kern';
  }
}

// Styles for typeset text.
.b-typeset {

  @include flexy-typo-typeset;
}
