// Quotes.
blockquote {
  @include flexy-media-screen((min-width: flexy-breakpoint(map-next-key($flexy-breakpoints, small)))) {
    margin-left: -1rem;
  }

  p {
    border-left: 0.15rem solid $flexy-typo-link-color;
    font-style: italic;
    padding-left: 1rem;

    // Add spacing below blockquote paragraphs to align to baseline grid.
    //$get-scale: map-get($modular-scale, scale-0);
    //$get-size: map-get($get-scale, zeta);
    //$rootsize: 12;
    //$baseline-shift: #{($get-size / 2 * ((2 * $rootsize / $get-size) - $flexy-typo-cap-height)) / $rootsize + 0.00001};
    //$baseline-push: #{3 - (($get-size * ((2 * $rootsize / $get-size) - $flexy-typo-cap-height)) / $rootsize + 0.00001)};
    //
    //margin-bottom: #{$baseline-push}rem;
    //padding-bottom: #{$baseline-shift}rem;

    //@for $i from 2 through $breakpoints-limit {
    //  $get-scale: map-get($modular-scale, scale-#{$i - 1});
    //  $get-size: map-get($get-scale, zeta);
    //  $rootsize: nth($sizes, $i);
    //  $baseline-shift: #{($get-size / 2 * ((2 * $rootsize / $get-size) - map-get($bodytype, cap-height))) / $rootsize + 0.00001};
    //  $baseline-push: #{3 - (($get-size * ((2 * $rootsize / $get-size) - map-get($bodytype, cap-height))) / $rootsize + 0.00001)};
    //
    //  @media screen and (min-width: nth($points, $i) / 16 * 1em) {
    //    margin-bottom: #{$baseline-push}rem;
    //    padding-bottom: #{$baseline-shift}rem;
    //  }
    //}
  }
}