$bp-sizes: (
        small: (
                base-font-size: 16px,
                base-line-height: 1.3,
                scale: 1.25
        ),
        medium: (
                base-font-size: 18px,
                base-line-height: 1.4,
                scale: 1.4
        ),
        large: (
                base-font-size: 22px,
                base-line-height: 1.5,
                scale: 1.5
        )
);

// Headings. OpenType ligatures, discretionary ligatures and lining figures enabled if available.
h1, h2, h3, h4, h5, h6 {
  color: $flexy-typo-heading-color;
  font-family: $flexy-typo-heading-font;
  font-feature-settings: 'dlig', 'liga', 'lnum', 'kern';
  font-style: normal;
  font-weight: bold;
}

$settings: map-get($bp-sizes, large);
h1 {
  @include flexy-typo-baseline(
                  $flexy-typo-base-font-size,
                  map-get($settings, base-line-height),
                  3
  );
}

h2 {
  @include flexy-typo-baseline(
                  $flexy-typo-base-font-size,
                  map-get($settings, base-line-height),
                  3
  );
}

h3 {
  @include flexy-typo-baseline(
                  $flexy-typo-base-font-size,
                  map-get($settings, base-line-height),
                  3
  );
}

h4 {
  @include flexy-typo-baseline(
                  $flexy-typo-base-font-size,
                  map-get($settings, base-line-height),
                  3
  );
}