// Links.
a {
  color: $flexy-typo-link-color;
  text-decoration: none;
  transition: color .1s, background-color .1s;

  &:hover, &:active, &:focus {
    color: $flexy-typo-link-hover;
    text-decoration: none;
  }
}

// Paragraphs. OpenType ligatures and oldstyle figures enabled if available.
p {
  @include flexy-typo-baseline($flexy-typo-base-font-size);
  line-height: 1.5rem;
  font-feature-settings: 'kern', 'onum', 'liga';
}

// Nice underlines for text links.
p a, li a {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 50%, lighten($flexy-typo-link-color, 20%) 50%);
  background-position: 0 93%;
  background-repeat: repeat-x;
  background-size: 100% 0.15rem;
  text-shadow: 0.1rem 0 $flexy-typo-body-background,
  0.15rem 0 $flexy-typo-body-background,
  -0.1rem 0 $flexy-typo-body-background,
  -0.15rem 0 $flexy-typo-body-background;
  text-decoration: none;

  &:hover, &:active, &:focus {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 50%, lighten($flexy-typo-link-hover, 20%) 50%);
  }
}