// Letter space those capitals people, Jan Tschichold would be proud.
.upper {
  font-kerning: normal;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
}

// Real small caps.
.small-caps {
  font-feature-settings: 'smcp', 'kern';
  font-kerning: normal;
  letter-spacing: 0.1rem;
}

// Consistent height numbers with OpenType.
.lining-numerals {
  font-feature-settings: 'lnum', 'kern';
}

// Ascending and descending numbers with OpenType.
.oldstyle-numerals {
  font-feature-settings: 'onum', 'kern';
}