// Tables.
table {
  @include sassline(eta, $headingtype, 2, 0, all);

  font-family: unquote(map-get($headingtype, font-family));
  font-feature-settings: 'liga', 'lnum', 'tnum', 'kern';
  font-style: normal;
  font-weight: map-get($headingtype, regular);
  width: 100%;

  thead {

    th {
      @include sassline(zeta, $headingtype, 2, 0, all);
      padding-bottom: 1px;
    }
  }
}