.b-button {
  @include ellipsis;

  border: 0;
  background-color: $flexy-block-button-background-color;
  color: #fff;
  display: inline-block;
  max-width: 100%;
  margin: 0;
  padding: 0 10px;
  border-radius: 3px;
  outline: 0;
  font-family: inherit;
  font-size: 1em;
  text-align: center;
  vertical-align: middle;
  white-space: normal;
  background: none;
  text-decoration: none;
  cursor: pointer;
  appearance: none;
  user-select: none;
  box-sizing: border-box;
  flex-shrink: 0;
  min-width: 32px;

  line-height: 35px;
  height: 35px;

  &_block {
    display: inline-block;
    width: 100% !important;
  }

  &:hover,
  &:focus {
    z-index: 2;
  }

  @include flexy-colors() {
    color: #fff;
    background-color: $flexy-current-color;

    &:hover,
    &:focus {
      color: #fff;
      background-color: lighten($flexy-current-color, 10%);
    }

    &:active {
      color: #fff;
      background-color: darken($flexy-current-color, 10%);
    }

    &_outline {
      color: $flexy-current-color;
      box-shadow: 0 0 0 $flexy-block-button-outline-width $flexy-current-color
        inset;
      background-color: transparent;

      &:hover,
      &:focus {
        color: lighten($flexy-current-color, 10%);
        box-shadow: 0 0 0 $flexy-block-button-outline-width
          lighten($flexy-current-color, 10%) inset;
        background-color: transparent;
      }

      &:active {
        color: darken($flexy-current-color, 10%);
        box-shadow: 0 0 0 $flexy-block-button-outline-width
          darken($flexy-current-color, 10%) inset;
        background-color: transparent;
      }
    }
  }

  &:not(.#{$flexy-prefix}-button_icon) > .icon {
    margin: 0 5px 0 0;
  }

  &__icon {
    margin: 0;
  }
}
