.b-heading {
}

@mixin flexy-heading {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    &.b-heading {
      @extend .b-heading;
      @content;
    }
  }

  h1.b-heading {
    font-size: flexy-size(xxlarge);
  }

  h2.b-heading {
    font-size: flexy-size(xlarge);
  }

  h3.b-heading {
    font-size: flexy-size(large);
  }

  h4.b-heading {
    font-size: flexy-size(medium);
  }

  h5.b-heading {
    font-size: flexy-size(small);
  }

  h6.b-heading {
    font-size: flexy-size(xsmall);
  }
}
