.#{$flexy-prefix}-label {
  color: $flexy-label-color;
  display: block;
  cursor: pointer;
  font-family: inherit;
  font-size: 1em;
  font-weight: 400;
  margin-bottom: 0.5em;

  &_checkbox {
    color: flexy-color(text);
  }

  &__asterisk {
    color: flexy-color(error);
    font-weight: bold;
  }
}
