.#{$flexy-prefix} {
  &-caption {
    font-size: 13px;
    color: #7F8C8D;
    margin: 0 0 15px 0;
    padding: 0;

    &_top {
      margin: 15px 0 0 0;
    }

    &_bottom {
      margin: 0 0 15px 0;
    }
  }
}