$flexy-ui-checkbox-content: '\e800' !default;
$flexy-ui-checkbox-font-size: 13px !default;

$flexy-ui-radio-content: '\e800' !default;
$flexy-ui-radio-font-size: 13px !default;

@mixin flexy-input-checkboxradio($inputCls, $labelCls) {
  .#{$inputCls} {
    display: none;
  }

  .#{$inputCls} + .#{$labelCls} {
    cursor: pointer;
    display: block;
    position: relative;
    font-size: $flexy-typo-base-font-size;

    &:before {
      content: "";
      display: block;
      position: absolute;
      padding: 1px;
      top: 50%;
      left: 0;
      text-align: center;
      background: {
        color: transparent;
        position: center;
        repeat: no-repeat;
      }
    }

    @content;
  }
}

@mixin flexy-input-checkboxradio-active($inputCls, $labelCls) {
  .#{$inputCls}:checked + .#{$labelCls} {
    &:before {
      font-size: $flexy-ui-radio-font-size;
      content: "\2713";
    }

    @include flexy-colors {
      @content;
    }
  }
}

@mixin flexy-input-checkbox-radio-inactive($size) {
  .b-radio__input, .b-checkbox__input {
    display: none;
  }

  .b-radio__input + .b-radio__label,
  .b-checkbox__input + .b-checkbox__label {
    cursor: pointer;
    display: block;
    position: relative;
    font-size: $flexy-typo-base-font-size;

    &:before {
      content: "";
      display: block;
      position: absolute;
      padding: 1px;
      top: 50%;
      left: 0;
      text-align: center;
      background: {
        color: transparent;
        position: center;
        repeat: no-repeat;
      }
    }

    @content;
  }
}

@mixin flexy-input-checkbox-radio-active($size) {
  .b-radio__input:checked + .b-radio__label,
  .b-checkbox__input:checked + .b-checkbox__label {
    &:before {
      font-size: $size;
      content: "\2713";
    }

    @include flexy-colors {
      @content;
    }
  }
}