.#{$flexy-prefix} {
  &-group {
    display: flex;
    flex-wrap: nowrap;

    & > * {
      &:not(:first-child):not(:last-child):not(:only-child) {
        border-radius: 0 !important;
      }

      &:first-child:not(:only-child), &:first-child:not(:only-child) .b-select__elem {
        border-top-right-radius: 0 !important;
        border-bottom-right-radius: 0 !important;
      }

      &:last-child:not(:only-child), &:last-child:not(:only-child) .b-select__elem {
        border-top-left-radius: 0 !important;
        border-bottom-left-radius: 0 !important;
      }
    }
  }
}