@mixin flexy-input-reset() {
  outline: none;
  border: none;
  box-sizing: border-box;
  appearance: none;
  border-radius: 0;
  margin: 0;
  box-shadow: 0 0 0 1px silver inset;

  &:not(:focus) {
    cursor: pointer;
  }

  &::-ms-expand {
    display: none;
  }
}

@mixin flexy-input($schema: $flexy-color-schema) {
  @include flexy-input-reset;

  line-height: $flexy-button-height;
  height: $flexy-button-height;
  background: {
    color: #fff;
  }
  padding: 0 10px;
  width: 100%;
  font-size: $flexy-typo-base-font-size;
  font-family: $flexy-font;

  @include flexy-colors($schema) {
    @content;
  }
}

//.#{$flexy-prefix} {
//  &-input {
//    @include flexy-input {
//      box-shadow: 0 0 0 1px $flexy-current-color inset;
//
//      &:focus, &:focus:hover {
//        box-shadow: 0 0 0 1px lighten($flexy-current-color, 10%) inset;
//      }
//
//      &:hover {
//        box-shadow: 0 0 0 1px darken($flexy-current-color, 5%) inset;
//      }
//    }
//  }
//}