// Based on http://type-scale.com/

$flexy-modular-scale: (
        minor-second: 1.067,
        major-second: 1.125,
        minor-third: 1.200,
        major-third: 1.250,
        perfect-fourth: 1.333,
        augmented-fourth: 1.414,
        perfect-fifth: 1.500,
        golden-ratio: 1.618
);

@function flexy-get-modular-scale($name) {
  @return map-get($flexy-modular-scale, $name);
}