@import "utils";

// $measure = $line-height * $font-size
@mixin flexy-typo-draw-rhythm($use-basehold: false) {
  @if ($use-basehold) {
    // Use a lined background to test the rhythm
    $measure: to-int($flexy-typo-base-measure);
    background-image: url(//basehold.it/i/#{$measure}); // 16px * 1.5
  } @else {
    background-image: linear-gradient(to bottom, #ccc 0, rgba(255, 255, 255, 0) 1px);
    background-repeat: repeat-y;
    background-size: 100% $flexy-typo-base-measure;
  }
}

html, body {
  line-height: $flexy-typo-base-line-height;
}

body {
  background-color: $flexy-typo-body-background;
  color: $flexy-typo-body-text-color;

  font-family: $flexy-typo-body-font;
  font-style: normal;
  font-weight: 400;
  //line-height: $flexy-typo-base-line-height;
}

.#{$flexy-prefix} {
  &-typeset {
    //@import "default";
  }
}