// Использование:
// @include flexy-type-scale($flexy-typo-base-font-size, flexy-get-modular-scale(golden-ratio));
// Генерация размеров заголовков с помощью modular_scale. См _modular_scale.scss
@mixin flexy-type-scale($base-font-size: $flexy-typo-base-font-size, $ratio: 1.333) {
  $font-size: $base-font-size;
  @for $i from 6 through 1 {
    h#{$i} {
      @debug to-em($font-size);
      font-size: to-em($font-size);
    }
    $font-size: $font-size * $ratio;
  }
}
