$base-font-size: $flexy-typo-base-font-size;
$base-line-height: $flexy-typo-base-line-height;
// this value may vary for each font
// unitless value relative to 1em
$cap-height: $flexy-typo-base-cap-height;

@mixin font-size($font-size: $flexy-typo-base-font-size) {
  font-size: $font-size / $flexy-typo-base-font-size + rem;
  $line-height: ceil($font-size / $flexy-typo-base-measure) * ($flexy-typo-base-measure / $font-size);
  line-height: $line-height;
  margin-bottom: ($flexy-typo-base-measure / $flexy-typo-base-font-size) + rem;
}

hr {
  height: 1px;
  border: none;
  width: 100%;
  background-color: $flexy-typo-caption-color;
  margin: $flexy-typo-base-measure 0 $flexy-typo-base-measure - 1px;
}

h1, h2, h3, h4, h5, h6 {
  display: block;
  color: $flexy-typo-heading-color;
}

h1 {
  $font-size: 32px;
  margin-top: $flexy-typo-base-measure;
  @include font-size($font-size);
}

h2 {
  $font-size: 28px;
  margin-top: $flexy-typo-base-measure;
  @include font-size($font-size);
}

h3 {
  $font-size: 24px;
  margin-top: $flexy-typo-base-measure;
  @include font-size($font-size);
}

h4 {
  $font-size: 22px;
  @include font-size($font-size);
}

h5 {
  $font-size: 20px;
  @include font-size($font-size);
}

h6 {
  $font-size: 16px;
  @include font-size($font-size);
}

p {
  font-feature-settings: 'kern', 'onum', 'liga';
  @include font-size();
  color: $flexy-typo-body-text-color;
}

code, pre {
  background: {
    color: #f4f4f4;
  }
}

pre {
  display: block;
  padding: $flexy-typo-base-measure;
  margin-bottom: $flexy-typo-base-measure;
  white-space: pre;
  white-space: pre-wrap;
  word-break: break-all;
  word-wrap: break-word;
}

blockquote {
  padding: $flexy-typo-base-measure;
  margin-bottom: $flexy-typo-base-measure;
  border-left: 2px solid map-get($flexy-colors, default);

  p {
    &:only-child {
      margin: 0;
    }
  }
}

.upper {
  font-kerning: normal;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
}

// Real small caps.
.small-caps {
  font-feature-settings: 'smcp', 'kern';
  font-kerning: normal;
  letter-spacing: 0.1rem;
}

// Consistent height numbers with OpenType.
.lining-numerals {
  font-feature-settings: 'lnum', 'kern';
}

// Ascending and descending numbers with OpenType.
.oldstyle-numerals {
  font-feature-settings: 'onum', 'kern';
}

small, .caption {
  $font-size: 14px;
  @include font-size($font-size);
  color: $flexy-typo-caption-color;
  font-feature-settings: 'kern', 'onum', 'liga';
}

// Bold.
b, strong, .bold {
  font-weight: bold;
}

// Italic.
em, i, .italic {
  font-style: italic;
}

// Lists.
ul, ol {
  @include font-size();

  li {
    font-feature-settings: 'kern', 'onum', 'liga';
    margin-left: 2rem;

    //@include breakpoint(break-1) {
    //  margin-left: 0;
    //}

    ol, ul {
      padding-top: 1rem;
      margin-bottom: 1rem;
      margin-left: 2rem;
    }
  }
}

// Ordered lists.
ol {
  list-style-type: none;

  li {
    counter-increment: top-level;

    &:before {
      content: counter(top-level) '.';
      font-feature-settings: 'lnum', 'tnum';
      margin-left: -3rem;
      position: absolute;
      text-align: right;
      width: 2em;
    }

    ul {

      li {

        &:before {
          content: '';
        }

        ol {

          li {
            counter-increment: alt-level;

            &:before {
              content: counter(alt-level) '.';
            }
          }
        }
      }
    }

    ol {

      li {
        counter-increment: sub-level;

        &:before {
          content: counter(top-level) '.' counter(sub-level);
        }

        ul {

          li {

            &:before {
              content: '';
            }
          }
        }

        ol {

          li {
            counter-increment: sub-sub-level;

            &:before {
              content: counter(top-level) '.' counter(sub-level) '.' counter(sub-sub-level);
            }
          }
        }
      }
    }
  }
}

// Definition lists.
dl {
  @include font-size();

  dt, dd {
    font-feature-settings: 'kern', 'onum', 'liga';
    margin-left: 2rem;

    @include flexy-media-screen((max-width: flexy-breakpoint(medium))) {
      margin-left: 0;
    }
  }

  dt {
    font-weight: bold;
  }

  dd + dt {
    padding-top: $flexy-typo-base-measure;
  }
}