$flexy-block-grid-padding: 1em;

.#{$flexy-prefix} {
  &-block-grid {
    display: flex;
    flex-wrap: wrap;
    //margin: 0 (-$flexy-block-grid-padding);

    &_left {
      justify-content: flex-start;
    }

    &_center {
      justify-content: center;
    }

    &_space {
      justify-content: space-between;
    }

    &_right {
      justify-content: flex-end;
    }

    @for $i from 1 through $flexy-block-grid-count {

      @each $namespace, $width in $flexy-breakpoints {
        &_#{$namespace}_#{$i} .#{$flexy-prefix}-block-grid__item {
          box-sizing: border-box;
          padding: 0 $flexy-block-grid-padding $flexy-block-grid-padding * 3;

          @include flexy-breakpoint($namespace) {
            width: (100% / $i);
          }

          &_fluid {
            width: auto;
            flex: 1 0 100% / $i;
          }

          &_only {
            $prev: map-prev-key($flexy-breakpoints, $namespace);
            $next: map-next-key($flexy-breakpoints, $namespace);

            $media: ();
            @if ($next) {
              $media: (min-width: flexy-get-breakpoint($namespace), max-width: flexy-get-breakpoint($next) - .1px);
            } @else {
              $media: (min-width: flexy-get-breakpoint($namespace));
            }

            @include flexy-media($media) {
              width: 100% / $i;
            }
          }
        }
      }
    }
  }
}
