@import "settings";

html {
  // set body 100% height
  height: 100%;

  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

body {
  // set body 100% height
  min-height: 100%;
  background-color: $flexy-typo-body-background;
  color: $flexy-typo-body-text-color;
  font-size: $flexy-typo-base-font-size;
  font-family: $flexy-font;
  font-style: normal;
  font-weight: 400;
  line-height: 2rem;
}

img {
  -ms-interpolation-mode: bicubic;
  height: auto;
  vertical-align: middle;
  width: 100%;
}

label {
  display: inline-block;
  cursor: pointer;
}

p {
  font-weight: 400;
  font-feature-settings: 'kern', 'onum', 'liga';
  line-height: 2em;
}

// Bold.
b, strong {
  font-weight: bold;
}

// Italic.
em, i {
  font-style: italic;
}

small {
  line-height: 1rem;
  font-size: $flexy-typo-base-font-size * .9;
}

.b-caption {
  font-size: $flexy-typo-base-font-size * .9;
  color: $flexy-typo-caption-color;
}

#{$flexy-headings} {
  font-feature-settings: 'liga', 'lnum', 'kern';
  font-style: normal;
  font-weight: bold;
  margin-bottom: .5em;
}

h1 + .b-caption {
  margin-top: -2.5em;
}

h2 + .b-caption {
  margin-top: -1.5em;
}

h3 + .b-caption {
  margin-top: -1.5em;
}

@include flexy-type-scale() {

}

::-webkit-input-placeholder {
  font-feature-settings: 'liga', 'lnum', 'kern';
  font-size: $flexy-typo-base-font-size;
  font-family: $flexy-font;
  font-style: normal;
}

:-moz-placeholder { /* Firefox 18- */
  font-feature-settings: 'liga', 'lnum', 'kern';
  font-size: $flexy-typo-base-font-size;
  font-family: $flexy-font;
  font-style: normal;
}

::-moz-placeholder {  /* Firefox 19+ */
  font-feature-settings: 'liga', 'lnum', 'kern';
  font-size: $flexy-typo-base-font-size;
  font-family: $flexy-font;
  font-style: normal;
}

:-ms-input-placeholder {
  font-feature-settings: 'liga', 'lnum', 'kern';
  font-size: $flexy-typo-base-font-size;
  font-family: $flexy-font;
  font-style: normal;
}