// based on https://css-tricks.com/snippets/css/media-queries-for-standard-devices/

$flexy-devices: (
        laptop: (
          /* ----------- Non-Retina Screens ----------- */
                min-device-width: 1200px,
                max-device-width: 1600px,
                -webkit-min-device-pixel-ratio: 1,
        ),
        laptop-retina: (
          /* ----------- Retina Screens ----------- */
                min-device-width: 1200px,
                max-device-width: 1600px,
                -webkit-min-device-pixel-ratio: 2,
                min-resolution: 192dpi,
        ),
  /* ----------- iPhone 4 and 4S ----------- */
        iphone-4-4s : (
          /* Portrait and Landscape */
                min-device-width: 320px,
                max-device-width: 480px,
                -webkit-min-device-pixel-ratio: 2,
        ),
        iphone-4-4s-portrait : (
          /* Portrait */
                min-device-width: 320px,
                max-device-width: 480px,
                -webkit-min-device-pixel-ratio: 2,
                orientation: portrait,
        ),
        iphone-4-4s-landscape : (
          /* Landscape */
                min-device-width: 320px,
                max-device-width: 480px,
                -webkit-min-device-pixel-ratio: 2,
                orientation: landscape,
        ),
  /* ----------- iPhone 5 and 5S ----------- */
        iphone-5-5s : (
          /* Portrait and Landscape */
                min-device-width: 320px,
                max-device-width: 568px,
                -webkit-min-device-pixel-ratio: 2,
        ),
        iphone-5-5s-portrait : (
          /* Portrait */
                min-device-width: 320px,
                max-device-width: 568px,
                -webkit-min-device-pixel-ratio: 2,
                orientation: portrait,
        ),
        iphone-5-5s-landscape : (
          /* Landscape */
                min-device-width: 320px,
                max-device-width: 568px,
                -webkit-min-device-pixel-ratio: 2,
                orientation: landscape,
        ),
  /* ----------- iPhone 6 ----------- */
        iphone-6 : (
          /* Portrait and Landscape */
                min-device-width: 375px,
                max-device-width: 667px,
                -webkit-min-device-pixel-ratio: 2,
        ),
  /* Portrait */
        iphone-6-portrait : (
                min-device-width: 375px,
                max-device-width: 667px,
                -webkit-min-device-pixel-ratio: 2,
                orientation: portrait,
        ),
        iphone-6-landscape : (
          /* Landscape */
                min-device-width: 375px,
                max-device-width: 667px,
                -webkit-min-device-pixel-ratio: 2,
                orientation: landscape,
        ),
  /* ----------- iPhone 6+ ----------- */
        iphone-6-plus : (
          /* Portrait and Landscape */
                min-device-width: 414px,
                max-device-width: 736px,
                -webkit-min-device-pixel-ratio: 3,
        ),
        iphone-6-plus-portrait : (
          /* Portrait */
                min-device-width: 414px,
                max-device-width: 736px,
                -webkit-min-device-pixel-ratio: 3,
                orientation: portrait,
        ),
        iphone-6-plus-landscape : (
          /* Landscape */
                min-device-width: 414px,
                max-device-width: 736px,
                -webkit-min-device-pixel-ratio: 3,
                orientation: landscape,
        ),
  /* ----------- iPad Mini ----------- */
        ipad-mini: (
          /* Portrait Landscape */
                min-device-width: 768px,
                max-device-width: 1024px,
                -webkit-min-device-pixel-ratio: 1
        ),
        ipad-mini-portait: (
          /* Portrait */
                min-device-width: 768px,
                max-device-width: 1024px,
                orientation: portrait,
                -webkit-min-device-pixel-ratio: 1
        ),
        ipad-mini-landscape: (
          /* Landscape */
                min-device-width: 768px,
                max-device-width: 1024px,
                orientation: landscape,
                -webkit-min-device-pixel-ratio: 1,
        ),
  /* ----------- iPad 1 2 ----------- */
        ipad-1-2: (
          /* Portrait Landscape */
                min-device-width: 768px,
                max-device-width: 1024px,
                -webkit-min-device-pixel-ratio: 1,
        ),
        ipad-1-2-portrait: (
          /* Portrait */
                min-device-width: 768px,
                max-device-width: 1024px,
                orientation: portrait,
                -webkit-min-device-pixel-ratio: 1,
        ),
        ipad-1-2-landscape: (
          /* Landscape */
                min-device-width: 768px,
                max-device-width: 1024px,
                orientation: landscape,
                -webkit-min-device-pixel-ratio: 1,
        ),
  /* ----------- iPad 3 4 ----------- */
        ipad-3-4: (
          /* Portrait Landscape */
                min-device-width: 768px,
                max-device-width: 1024px,
                -webkit-min-device-pixel-ratio: 2,
        ),
        ipad-3-4-portrait: (
          /* Portrait */
                min-device-width: 768px,
                max-device-width: 1024px,
                orientation: portrait,
                -webkit-min-device-pixel-ratio: 2,
        ),
        ipad-3-4-landscape: (
          /* Landscape */
                min-device-width: 768px,
                max-device-width: 1024px,
                orientation: landscape,
                -webkit-min-device-pixel-ratio: 2,
        )
) !default;

@function flexy-device-media-query($device) {
  @if (map-has-key($flexy-devices, $device)) {
    @return flexy-media-map(map-get($flexy-devices, $device));
  } @else {
    @warn "#{$device} is not a valid device variable";
    @return null;
  }
}

@mixin flexy-device($device, $screen: 'only screen') {
  $media: flexy-device-media-query($device);
  @if ($media) {
    @media #{$screen} and #{$media} {
      @content;
    }
  } @else {
    @warn "#{$device} is not a valid device variable";
    @content;
  }
}
