@function flexy-color($name: default) {
  @return map-get($flexy-theme-colors, $name);
}

@mixin flexy-input-placeholder {
  &::-webkit-input-placeholder {
    @content;
  }

  &:-moz-placeholder {
    @content;
  }

  &::-moz-placeholder {
    @content;
  }

  &:-ms-input-placeholder {
    @content;
  }
}

@mixin flexy-input-track() {
  &::-webkit-slider-runnable-track {
    @content;
  }

  &::-moz-range-track {
    @content;
  }

  &::-ms-track {
    @content;
  }
}

@mixin flexy-placeholder-reset {
  font-size: $flexy-body-font-size;
  font-family: $flexy-font;
  font-style: normal;
}

@mixin clearfix {
  *zoom: 1;
  &:before,
  &:after {
    display: table;
    content: '';
    line-height: 0;
  }
  &:after {
    clear: both;
  }
}

@mixin apply-styles($map: ()) {
  @each $key, $value in $map {
    #{$key}: #{$value};
  }
}

@mixin disable-user-select {
  -webkit-touch-callout: none;
  user-select: none;
}

@mixin hide-text($direction: left) {
  @if $direction == left {
    $approximate-em-value: 12px / 1em;
    $wider-than-any-screen: -9999em;
    text-indent: $wider-than-any-screen * $approximate-em-value;
    overflow: hidden;
    text-align: left;
  } @else {
    // slightly wider than the box prevents issues with inline-block elements
    text-indent: 110%;
    white-space: nowrap;
    overflow: hidden;
  }
}

@mixin reset-list {
  margin: 0;
  border: 0 none;
  outline: 0 none;
  padding: 0;
  list-style: none;
}

@mixin opacity($opacity) {
  opacity: $opacity;
  -moz-opacity: $opacity;
  $opacity: $opacity * 100;
  -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=#{$opacity})';
  filter: 'alpha(opacity=#{$opacity})';
}

@mixin ellipsis($no-wrap: true) {
  @if $no-wrap {
    white-space: nowrap;
  }
  overflow: hidden;
  text-overflow: ellipsis;
}

@mixin antialias($value: true, $liga: true) {
  @if $value == true {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
  } @else {
    -webkit-font-smoothing: subpixel-antialiased;
    -moz-osx-font-smoothing: auto;
    text-rendering: auto;
  }

  @if $liga {
    /* Support for IE. */
    font-feature-settings: 'liga';
  }
}
