$flexy-debug: false !default;

@import "grid/settings";

// bem
$flexy-prefix: 'b' !default;

// defaults
$flexy-font: Lato, -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Helvetica", "Arial", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !default;
$flexy-color-schema: (
        default: #353535,
        blue: #007fff,
        white: #fff
) !default;

$flexy-typo-heading-size: (
        small: 0,
        medium: 768px,
        large: 992px,
        xlarge: 1200px
);

// this value may vary for each font
// unitless value relative to 1em
// See http://jsbin.com/gofexi/edit?html,css,output
$flexy-typo-base-cap-height: 0.68;
//$flexy-typo-base-cap-height: 0.73;

$flexy-typo-base-font-size: 15px !default;
$flexy-typo-base-line-height: 1.5 !default;
$flexy-typo-base-measure: $flexy-typo-base-font-size * $flexy-typo-base-line-height;

$flexy-typo-link-color: map-get($flexy-color-schema, default) !default;
$flexy-typo-link-hover: darken($flexy-typo-link-color, 5%) !default;

$flexy-typo-body-text-color: #494949 !default;
$flexy-typo-body-background: #fff !default;
$flexy-typo-body-font: $flexy-font !default;

$flexy-typo-code-background: #F5F4F2 !default;
$flexy-typo-code-font: Menlo, monospace !default;

$flexy-typo-caption-color: #BDC8CC !default;

$flexy-typo-heading-color: #2E2E2E !default;
$flexy-typo-heading-font: $flexy-font !default;

$flexy-ui-divider-background-color: #e8e8e8 !default;

// elements
$flexy-headings: h1, h2, h3, h4, h5, h6 !default;

/*
 * Divider component
 */
$flexy-divider-color: $flexy-typo-caption-color !default;
$flexy-divider-margin: 20px !default;
$flexy-divider-height: 1px !default;
$flexy-divider-large-medium: 3px !default;
$flexy-divider-large-height: 5px !default;

/*
 * Segment component
 */
$flexy-segment-padding: 15px;

/*
 * Label component
 */
$flexy-ribbon-border-radius: 2px 2px 2px 1px;

$flexy-button-height: 32px !default;
