<div class="b-row">
    <div class="b-col b-col_small_12">
        <h1>Checkbox, Radio</h1>

        <div class="b-divider"></div>

        <div class="b-checkbox">
            <input class="b-checkbox__input" type="checkbox" name="ch1" id="ch1">
            <label class="b-checkbox__label" for="ch1">Чекбокс 1</label>
        </div>
        <div class="b-checkbox">
            <input class="b-checkbox__input" type="checkbox" name="ch2" id="ch2">
            <label class="b-checkbox__label" for="ch2">Чекбокс 2</label>
        </div>

        <div class="b-divider"></div>

        <div class="b-checkbox">
            <input class="b-checkbox__input" type="checkbox" name="zh1" id="zh1">
            <label class="b-checkbox__label b-checkbox__label_pumpkin" for="zh1">Чекбокс 1</label>
        </div>
        <div class="b-checkbox">
            <input class="b-checkbox__input" type="checkbox" name="zh2" id="zh2">
            <label class="b-checkbox__label b-checkbox__label_pumpkin" for="zh2">Чекбокс 2</label>
        </div>

        <div class="b-divider"></div>

        <div class="b-radio">
            <input class="b-radio__input" type="radio" name="ch3" id="ch3">
            <label class="b-radio__label" for="ch3">Радиокнопка 1</label>
        </div>
        <div class="b-radio">
            <input class="b-radio__input" type="radio" name="ch3" id="ch4">
            <label class="b-radio__label" for="ch4">Радиокнопка 2</label>
        </div>

        <h1>Select</h1>

        <div class="b-divider"></div>

        <div class="b-select">
            <select class="b-select__elem" name="sel1" id="sel1">
                <option value="5 лет" selected>5 лет</option>
                <option value="10 лет">10 лет</option>
                <option value="15 лет">15 лет</option>
                <option value="20 лет">20 лет</option>
                <option value="25 лет">25 лет</option>
                <option value="30 лет">30 лет</option>
            </select>
        </div>

        <h1>Label</h1>

        <div class="b-divider"></div>

        <div class="b-segment">
            <span class="b-label">b-label</span>
            <span class="b-label b-label_peter-river">b-label b-label_peter-river</span>
            <span class="b-label b-label_wisteria">b-label b-label_wisteria</span>
            <span class="b-label b-label_pumpkin">b-label b-label_pumpkin</span>
        </div>

        <h1>Input</h1>

        <div class="b-divider"></div>

        <div class="b-segment">
            <input type="text" class="b-input" placeholder="b-input"/>
            <input type="text" class="b-input b-input_peter-river" placeholder="b-input b-input_peter-river"/>
            <input type="text" class="b-input b-input_green" placeholder="b-input b-input_green"/>
            <select name="" id="" class="b-input">
                <option disabled selected>Select</option>
                <option value="1">1</option>
                <option value="2">2</option>
            </select>
        </div>

        <h1>Buttons</h1>

        <div class="b-divider"></div>

        <div class="b-segment">
            <a href="#" class="b-button">b-button</a>
            <a href="#" class="b-button b-button_peter-river">b-button b-button_peter-river</a>
            <button class="b-button b-button_green">b-button b-button_green</button>
        </div>

        <h1>Button group</h1>

        <div class="b-divider"></div>

        <div class="b-group">
            <a href="#" class="b-button">b-button</a>
            <a href="#" class="b-button b-button_peter-river">b-button b-button_peter-river</a>
            <button class="b-button b-button_green">b-button b-button_green</button>
        </div>

        <h1>Container</h1>

        <div class="b-divider"></div>

        <div class="b-container">
            <input type="text" class="b-input" placeholder="b-input"/>

            <div class="b-group">
                <a href="#" class="b-button">b-button</a>
                <a href="#" class="b-button b-button_peter-river">b-button b-button_peter-river</a>
                <button class="b-button b-button_green">b-button b-button_green</button>
            </div>

            <div class="b-select">
                <select class="b-select__elem" name="sel1" id="sel1">
                    <option value="5 лет 123" selected>5 лет</option>
                    <option value="15 лет 123">15 лет 123</option>
                    <option value="20 лет 123">20 лет 123</option>
                    <option value="25 лет 123">25 лет 123</option>
                    <option value="30 лет 123">30 лет 123</option>
                </select>
            </div>
        </div>
    </div>

    <h1>Grid</h1>

    <div class="b-divider"></div>

    <div class="b-col b-col_auto">
        <div class="b-helper">b-col b-col_auto</div>
    </div>
    <div class="b-col b-col_auto">
        <div class="b-helper">b-col b-col_auto</div>
    </div>
    <div class="b-col b-col_auto">
        <div class="b-helper">b-col b-col_auto</div>
    </div>

    <div class="b-divider"></div>

    <div class="b-col b-col_small_12">
        <div class="b-helper">b-col b-col_small_12</div>
    </div>

    <div class="b-col b-col_small_6">
        <div class="b-helper">b-col b-col_small_6</div>
    </div>
    <div class="b-col b-col_small_6">
        <div class="b-helper">b-col b-col_small_6</div>
    </div>

    <div class="b-col b-col_small_4">
        <div class="b-helper">b-col b-col_small_4</div>
    </div>
    <div class="b-col b-col_small_4">
        <div class="b-helper">b-col b-col_small_4</div>
    </div>
    <div class="b-col b-col_small_4">
        <div class="b-helper">b-col b-col_small_4</div>
    </div>

    <div class="b-col b-col_small_3">
        <div class="b-helper">b-col b-col_small_3</div>
    </div>
    <div class="b-col b-col_small_3">
        <div class="b-helper">b-col b-col_small_3</div>
    </div>
    <div class="b-col b-col_small_3">
        <div class="b-helper">b-col b-col_small_3</div>
    </div>
    <div class="b-col b-col_small_3">
        <div class="b-helper">b-col b-col_small_3</div>
    </div>

    <div class="b-col b-col_small_2">
        <div class="b-helper">b-col b-col_small_2</div>
    </div>
    <div class="b-col b-col_small_2">
        <div class="b-helper">b-col b-col_small_2</div>
    </div>
    <div class="b-col b-col_small_2">
        <div class="b-helper">b-col b-col_small_2</div>
    </div>
    <div class="b-col b-col_small_2">
        <div class="b-helper">b-col b-col_small_2</div>
    </div>
    <div class="b-col b-col_small_2">
        <div class="b-helper">b-col b-col_small_2</div>
    </div>
    <div class="b-col b-col_small_2">
        <div class="b-helper">b-col b-col_small_2</div>
    </div>

    <div class="b-col b-col_small_1">
        <div class="b-helper">b-col b-col_small_1</div>
    </div>
    <div class="b-col b-col_small_1">
        <div class="b-helper">b-col b-col_small_1</div>
    </div>
    <div class="b-col b-col_small_1">
        <div class="b-helper">b-col b-col_small_1</div>
    </div>
    <div class="b-col b-col_small_1">
        <div class="b-helper">b-col b-col_small_1</div>
    </div>
    <div class="b-col b-col_small_1">
        <div class="b-helper">b-col b-col_small_1</div>
    </div>
    <div class="b-col b-col_small_1">
        <div class="b-helper">b-col b-col_small_1</div>
    </div>
    <div class="b-col b-col_small_1">
        <div class="b-helper">b-col b-col_small_1</div>
    </div>
    <div class="b-col b-col_small_1">
        <div class="b-helper">b-col b-col_small_1</div>
    </div>
    <div class="b-col b-col_small_1">
        <div class="b-helper">b-col b-col_small_1</div>
    </div>
    <div class="b-col b-col_small_1">
        <div class="b-helper">b-col b-col_small_1</div>
    </div>
    <div class="b-col b-col_small_1">
        <div class="b-helper">b-col b-col_small_1</div>
    </div>
    <div class="b-col b-col_small_1">
        <div class="b-helper">b-col b-col_small_1</div>
    </div>

    <h1>Nested grid</h1>

    <div class="b-divider"></div>

    <div class="b-col b-col_small_12">
        <div class="b-helper">
            b-col b-col_small_12

            <div class="b-row">
                <div class="b-col b-col_small_6">
                    <div class="b-helper">
                        b-col b-col_small_6

                        <div class="b-row">
                            <div class="b-col b-col_small_4">
                                <div class="b-helper">b-col b-col_small_4</div>
                            </div>
                            <div class="b-col b-col_small_4">
                                <div class="b-helper">b-col b-col_small_4</div>
                            </div>
                            <div class="b-col b-col_small_4">
                                <div class="b-helper">b-col b-col_small_4</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="b-col b-col_small_6">
                    <div class="b-helper">b-col b-col_small_6</div>
                </div>
            </div>

        </div>
    </div>

    <h1>Responsive</h1>

    <div class="b-divider"></div>

    <div class="b-col b-col_small_12 b-col_medium_6 b-col_large_4 b-col_xlarge_3">
        <div class="b-helper">
            b-col b-col_small_12<br/>
            b-col b-col_medium_6<br/>
            b-col b-col_large_4<br/>
            b-col b-col_xlarge_3
        </div>
    </div>
    <div class="b-col b-col_small_12 b-col_medium_6 b-col_large_4 b-col_xlarge_3">
        <div class="b-helper">
            b-col b-col_small_12<br/>
            b-col b-col_medium_6<br/>
            b-col b-col_large_4<br/>
            b-col b-col_xlarge_3
        </div>
    </div>
    <div class="b-col b-col_small_12 b-col_medium_6 b-col_large_4 b-col_xlarge_3">
        <div class="b-helper">
            b-col b-col_small_12<br/>
            b-col b-col_medium_6<br/>
            b-col b-col_large_4<br/>
            b-col b-col_xlarge_3
        </div>
    </div>
    <div class="b-col b-col_small_12 b-col_medium_6 b-col_large_4 b-col_xlarge_3">
        <div class="b-helper">
            b-col b-col_small_12<br/>
            b-col b-col_medium_6<br/>
            b-col b-col_large_4<br/>
            b-col b-col_xlarge_3
        </div>
    </div>
</div>

<h1>Visibility</h1>

<div class="b-divider"></div>

<div class="b-helper">
    <div class="b-visible b-visible_small_only">b-visible b-visible_small_only</div>
    <div class="b-visible b-visible_medium_only">b-visible b-visible_medium_only</div>
    <div class="b-visible b-visible_large_only">b-visible b-visible_large_only</div>
    <div class="b-visible b-visible_xlarge_only">b-visible b-visible_xlarge_only</div>
</div>

<div class="b-helper">
    <div class="b-visible b-visible_small_up">b-visible b-visible_small_up</div>
    <div class="b-visible b-visible_medium_up">b-visible b-visible_medium_up</div>
    <div class="b-visible b-visible_large_up">b-visible b-visible_large_up</div>
    <div class="b-visible b-visible_xlarge_up">b-visible b-visible_xlarge_up</div>
</div>

<div class="b-divider"></div>

<div class="b-helper">
    <div class="b-hide b-hide_small_only">b-hide b-hide_small_only</div>
    <div class="b-hide b-hide_medium_only">b-hide b-hide_medium_only</div>
    <div class="b-hide b-hide_large_only">b-hide b-hide_large_only</div>
    <div class="b-hide b-hide_xlarge_only">b-hide b-hide_xlarge_only</div>
</div>

<div class="b-helper">
    <div class="b-hide b-hide_small_up">b-hide b-hide_small_up</div>
    <div class="b-hide b-hide_medium_up">b-hide b-hide_medium_up</div>
    <div class="b-hide b-hide_large_up">b-hide b-hide_large_up</div>
    <div class="b-hide b-hide_xlarge_up">b-hide b-hide_xlarge_up</div>
</div>