.b-divider {
  @include clearfix;

  border: {
    width: 1px 0;
    style: solid;
    color: $flexy-block-divider-border-top-color transparent $flexy-block-divider-border-bottom-color;
  }
  margin: 1rem 0;
  line-height: 1;
  height: 0;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  color: rgba(#000, 0.85);
  user-select: none;
  font-size: 1rem;

  @include flexy-colors($flexy-theme-colors, false) {
    background-color: $flexy-current-color;
  }

  @each $name, $size in $flexy-block-divider-sizes {
    @if $name == 'default' {
      margin: $size 0;
    }

    &_#{$name} {
      margin: $size 0;
    }
  }
}
