.b-heading {
  margin: 0;
  padding: 0 0 0.5em;
  text-decoration: none;
  color: $flexy-block-heading-text-color;
  line-height: 1;

  &_center {
    text-align: center;
  }

  &_right {
    text-align: right;
  }

  & > a,
  &__link {
    color: $flexy-block-heading-text-color;
  }
}

@mixin flexy-heading {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    &.b-heading {
      @extend .b-heading;
      @content;
    }
  }

  h1.b-heading {
    font-size: map-get($flexy-typeset-sizes, xxlarge);
  }

  h2.b-heading {
    font-size: map-get($flexy-typeset-sizes, xlarge);
  }

  h3.b-heading {
    font-size: map-get($flexy-typeset-sizes, large);
  }

  h4.b-heading {
    font-size: map-get($flexy-typeset-sizes, medium);
  }

  h5.b-heading {
    font-size: map-get($flexy-typeset-sizes, small);
  }

  h6.b-heading {
    font-size: map-get($flexy-typeset-sizes, xsmall);
  }
}
