@mixin flexy-disable-appearance {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
}

$flexy-input-select-dropdown: 'data:image/png;base64,R0lGODlhDwAUAIABAAAAAP///yH5BAEAAAEALAAAAAAPABQAAAIXjI+py+0Po5wH2HsXzmw//lHiSJZmUAAAOw==';

.#{$flexy-prefix}-input {
  @include flexy-disable-appearance;

  display: block;
  width: 100%;
  margin: 0;
  padding: 0.5em;
  border: none;
  border-radius: $flexy-theme-border-radius;
  outline: none;
  background-color: #fff;
  font-family: inherit;
  font-size: 1em;
  font-weight: 400;
  resize: vertical;
  box-sizing: border-box;
  background: {
    color: #fff;
  }
  box-shadow: 0 0 0 $flexy-theme-border-size $flexy-block-input-color inset;

  &[type='search'] {
    box-sizing: border-box;
  }

  &:hover:not(:focus) {
    box-shadow: 0 0 0 $flexy-theme-border-size $flexy-block-input-hover-color
      inset;
  }

  &:active,
  &:focus {
    box-shadow: 0 0 0 $flexy-theme-border-size $flexy-block-input-focus-color
      inset;
  }

  &:hover,
  &:focus {
    z-index: 2;
  }

  &:not(:focus) {
    cursor: pointer;
  }

  @include flexy-input-placeholder {
    color: $flexy-block-input-placeholder-color;
    font-size: 1em;
  }

  /** SELECT **************************/

  &_select {
    &:not([multiple]) {
      padding-right: 2em;
      background: {
        image: url(#{$flexy-input-select-dropdown});
        repeat: no-repeat;
        position: calc(100% - 0.5em) 50%;
      }
    }

    &::-ms-expand {
      display: none;
    }
  }

  /** RANGE **************************/

  &_range {
    width: 100%;
    padding: 0.5em 0;
    outline: 0;
    appearance: none;

    &,
    &:hover,
    &:active,
    &:focus {
      box-shadow: none !important;
    }

    &:active {
      &::-webkit-slider-thumb {
        box-shadow: 0 0 0 1px $flexy-block-input-focus-color inset,
          0 1px 2px rgba(#000, 0.6);
      }
    }

    &::-moz-focus-outer {
      // Remove dotted outline in firefox
      border: 0;
    }

    @include flexy-input-track() {
      background: {
        color: rgba(#c8c8c8, 0.4);
      }
    }

    &::-webkit-slider-runnable-track {
      border-radius: 30em;

      width: 100%;
      height: 10px;
      border: 0;
      box-shadow: none;
      cursor: pointer;
    }

    &::-webkit-slider-thumb {
      border-radius: 30em;

      width: 20px;
      height: 20px;
      margin: -5px 0 0;
      border: 0;
      background-color: #fff;
      box-shadow: 0 1px 2px rgba(#000, 0.6);
      cursor: pointer;
      appearance: none;
    }

    &::-moz-range-track {
      width: 100%;
      height: 10px;
      border: 0;
      border-radius: 30em;
      box-shadow: none;
      cursor: pointer;
    }

    &::-moz-range-thumb {
      border-radius: 30em;

      width: 20px;
      height: 20px;
      margin: -5px 0 0;
      border: 0;
      background-color: #fff;
      box-shadow: 0 1px 4px -1px #111;
      cursor: pointer;
    }

    &::-ms-track {
      border-radius: 30em;

      width: 100%;
      height: 10px;
      border: 0;
      box-shadow: none;
      cursor: pointer;
      border-color: transparent;
      background-color: transparent;
      color: transparent;
    }

    &::-ms-fill-lower,
    &::-ms-fill-upper {
      border-radius: 30em;

      border: 0;
      background-color: #96a8b2;
      box-shadow: none;
    }
  }

  /** CHECKBOX, RADIO **************************/

  &_choice {
    display: none;

    &[type='radio'] + .#{$flexy-prefix}-label,
    &[type='checkbox'] + .#{$flexy-prefix}-label {
      cursor: pointer;
      display: block;
      height: $flexy-theme-height;
      line-height: $flexy-theme-height;
      font-family: $flexy-font;
      font-size: $flexy-body-font-size;
      padding-left: $flexy-theme-height;
      position: relative;
    }

    &[type='radio'] + .#{$flexy-prefix}-label {
      &::before,
      &::after {
        border-radius: 100%;
      }
    }

    &[type='checkbox'] + .#{$flexy-prefix}-label {
      &::before,
      &::after {
        border-radius: $flexy-block-input-border-radius;
      }
    }

    &[type='radio'] + .#{$flexy-prefix}-label,
    &[type='checkbox'] + .#{$flexy-prefix}-label {
      &::before,
      &::after {
        display: block;
        box-sizing: border-box;
        position: absolute;
        left: 0;
        top: 50%;
        margin-top: -($flexy-theme-height/3);
        line-height: $flexy-theme-height/1.5;
        width: $flexy-theme-height/1.5;
        height: $flexy-theme-height/1.5;
      }

      &::before {
        z-index: 2;
        font-weight: bold;
        font-family: $flexy-block-input-icon-font-family;
        color: #fff;
        text-align: center;
        content: $flexy-block-input-icon-uncheck;
        transform: scale(0);
      }

      &::after {
        z-index: 1;
        content: ' ';
        box-shadow: 0 0 0 $flexy-theme-border-size $flexy-block-input-color
          inset;
        background: {
          color: #fff;
        }
      }

      &:hover {
        &::after {
          box-shadow: 0 0 0 $flexy-theme-border-size
            $flexy-block-input-hover-color inset;
        }
      }
    }

    &:checked {
      &[type='checkbox'] + .#{$flexy-prefix}-label,
      &[type='radio'] + .#{$flexy-prefix}-label {
        &::before {
          animation: flexy-choice 0.25s;
          transform: scale(1);
          color: $flexy-block-input-focus-color;
          font-size: $flexy-body-font-size;
          content: $flexy-block-input-icon-check;
        }

        &::after {
          box-shadow: 0 0 0 $flexy-theme-border-size
            $flexy-block-input-focus-color inset;
        }
      }
    }
  }

  &_textarea {
    height: auto;
    min-height: 4.2em;
  }

  &_file {
    // TODO
  }
}

@keyframes flexy-choice {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(1.5);
  }
  to {
    transform: scale(1);
  }
}
