.b-button {
  @include flexy-button() {
    border: {
      width: 1px;
      style: solid;
      color: $flexy-current-color;
    }
    color: $flexy-current-color;
    border-radius: 4px;

    &:hover {
      border: {
        color: flexy-button-hover-color($flexy-current-color);
      }
    }

    &:active {
      border: {
        color: flexy-button-active-color($flexy-current-color);
      }
    }

    & ~ & {
      margin-left: -1px;
    }
  }
}

.b-checkbox {
  $size: 14px;

  @include flexy-input-checkbox-radio-inactive($size) {
    &:before {
      transition: border-color .2s ease;
      border-radius: 2px;
      border: 2px solid #aaa;
    }
  }

  @include flexy-input-checkbox-radio-active($size) {
    &:before {
      color: $flexy-current-color;
      border-color: $flexy-current-color;
    }
  }
}

.b-radio {
  $size: 14px;

  @include flexy-input-checkbox-radio-inactive($size) {
    &:before {
      transition: border-color .2s ease;
      border-radius: 100%;
      border: 2px solid #bdc0c7;
    }
  }

  @include flexy-input-checkbox-radio-active($size) {
    &:before {
      color: $flexy-current-color;
      border-color: $flexy-current-color;
    }
  }
}

.b-select {
  @include flexy-input-select();
}
