@mixin flexy-button-reset {
  text-decoration: none;
  margin: 0;
  outline: none;
  border: none;
  background: {
    color: transparent;
  }
  -webkit-appearance: none;
  box-sizing: border-box;
  display: inline-block;
  line-height: 32px;
  cursor: pointer;
  padding: 0 10px;
  border-radius: 0;
}

@function flexy-button-active-color($color) {
  @return darken($color, 5%);
}

@function flexy-button-hover-color($color) {
  @return lighten($color, 5%);
}

@function flexy-button-color-detect($color, $dark: #000, $light: #fff) {
  @return if(lightness($color) > 55, $dark, $light);
}

$flexy-current-color: null;

@mixin flexy-button() {
  @include flexy-button-reset;

  $i: 0;
  @each $name, $color in $flexy-colors {
    $flexy-current-color: $color !global;

    @if ($i == 0) {
      @content
    } @else {
      &_#{$name} {
        @content
      }
    }
    $i: $i + 1;
  }
}