@mixin flexy-input($color) {
  border: 1px solid rgba($color, 0.8);

  &:focus, &:focus:hover {
    border-color: $color;
  }

  &:hover {
    border-color: darken($color, 5%);
  }
}

.#{$flexy-prefix} {
  &-input {
    line-height: $flexy-button-height - 4px;
    height: $flexy-button-height;
    outline: none;
    padding: 0 10px;
    transition: border-color .2s ease;

    &:not(:focus) {
      cursor: pointer;
    }

    @each $name, $color in $flexy-colors {
      @if ($name == 'default') {
        @include flexy-input($color);
      } @else {
        &_#{$name} {
          @include flexy-input($color);
        }
      }
    }
  }
}