$flexy-menu-item-selector: #{$flexy-prefix}-menu__item;
$flexy-menu-selector: #{$flexy-prefix}-menu;

@function modifier($cls, $list) {
  $temp: ();
  @each $class in $list {
    $temp: append($temp, #{$cls}_#{$class});
  }
  @return #{$cls + '.' + implode($temp, '.')};
}

.#{$flexy-prefix}-menu {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  align-items: center;
  line-height: 32px;

  &__link {
    border-radius: 4px;
    padding: 0 8px;
    display: block;

    &_secondary {
      &:hover {
        background: {
          color: #ccc;
        }
      }
    }
  }

  &__li {
    line-height: 32px;

    &:not(:last-child) {
      margin-right: 10px;
    }

    &_right {
      margin-left: auto;
      align-self: flex-end;
    }
  }

  &.#{modifier($flexy-menu-selector, (vertical))} {
    flex-direction: column;
    align-items: stretch;
  }

  &__item {
    cursor: pointer;
    transition: color .2s ease, border-color .2s ease;

    &_right {
      margin-left: auto;
    }

    @each $name, $color in $flexy-color-schema {
      &.#{modifier($flexy-menu-item-selector, ($name))} {
        border-radius: 4px;
        color: #000;

        &:hover {
          color: rgba($color, 0.8);
        }

        &.#{modifier($flexy-menu-item-selector, (active, $name))} {
          color: $color;
        }

        &.#{modifier($flexy-menu-item-selector, (horizontal))} {
          &:not(:last-child) {
            margin-right: 15px;
          }
        }

        &.#{modifier($flexy-menu-item-selector, (vertical))} {
          padding: 0 10px;

          &:not(:last-child) {
            margin-bottom: 5px;
          }
        }
      }
    }
  }
}