<div class="b-block-grid b-block-grid_small_4 b-block-grid_right">
    <div class="b-block-grid__item">
        <div class="b-helper">small_4</div>
    </div>
    <div class="b-block-grid__item">
        <div class="b-helper">small_4</div>
    </div>
    <div class="b-block-grid__item">
        <div class="b-helper">small_4</div>
    </div>
    <div class="b-block-grid__item">
        <div class="b-helper">small_4</div>
    </div>
    <div class="b-block-grid__item">
        <div class="b-helper">small_4</div>
    </div>
    <div class="b-block-grid__item">
        <div class="b-helper">small_4</div>
    </div>
</div>