<div class="b-block-grid b-block-grid_small_1 b-block-grid_medium_3 b-block-grid_large_4 b-block-grid_ipad-1-2-portrait_2 b-block-grid_ipad-1-2-landscape_3">
    <div class="b-block-grid__item">
        <div class="b-helper">item</div>
    </div>
    <div class="b-block-grid__item">
        <div class="b-helper">item</div>
    </div>
    <div class="b-block-grid__item">
        <div class="b-helper">item</div>
    </div>
    <div class="b-block-grid__item">
        <div class="b-helper">item</div>
    </div>
    <div class="b-block-grid__item">
        <div class="b-helper">item</div>
    </div>
    <div class="b-block-grid__item">
        <div class="b-helper">item</div>
    </div>
    <div class="b-block-grid__item">
        <div class="b-helper">item</div>
    </div>
    <div class="b-block-grid__item">
        <div class="b-helper">item</div>
    </div>
</div>