<div class="b-row">
    <div class="b-col b-col_auto">
        <div class="b-helper">b-col b-col_auto</div>
    </div>
    <div class="b-col b-col_auto">
        <div class="b-helper">b-col b-col_auto</div>
    </div>
    <div class="b-col b-col_auto">
        <div class="b-helper">b-col b-col_auto</div>
    </div>
    <div class="b-col b-col_auto">
        <div class="b-helper">b-col b-col_auto</div>
    </div>
    <div class="b-col b-col_auto">
        <div class="b-helper">b-col b-col_auto</div>
    </div>
    <div class="b-col b-col_auto">
        <div class="b-helper">b-col b-col_auto</div>
    </div>
    <div class="b-col b-col_auto">
        <div class="b-helper">b-col b-col_auto</div>
    </div>
</div>