<div class="b-row">
    <div class="b-col b-col_small_12">
        <div class="b-helper">
            b-col b-col_small_12
            <div class="b-row">
                <div class="b-col b-col_small_12 b-col_medium_6">
                    <div class="b-helper">
                        b-col b-col_small_12 b-col_medium_6
                        <div class="b-row">
                            <div class="b-col b-col_small_12 b-col_large_4">
                                <div class="b-helper">b-col_small_12 b-col_large_4</div>
                            </div>
                            <div class="b-col b-col_small_12 b-col_large_4">
                                <div class="b-helper">b-col_small_12 b-col_large_4</div>
                            </div>
                            <div class="b-col b-col_small_12 b-col_large_4">
                                <div class="b-helper">b-col_small_12 b-col_large_4</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="b-col b-col_small_12 b-col_medium_3 b-col_large_4">
                    <div class="b-helper">
                        b-col b-col_small_12 b-col_medium_3 b-col_large_4
                        <div class="b-row">
                            <div class="b-col b-col_small_12 b-col_medium_6">
                                <div class="b-helper">
                                    b-col b-col_small_12 b-col_medium_6

                                    <div class="b-row">
                                        <div class="b-col b-col_small_12 b-col_medium_6">
                                            <div class="b-helper">b-col b-col_small_12 b-col_medium_6</div>
                                        </div>
                                        <div class="b-col b-col_small_12 b-col_medium_6">
                                            <div class="b-helper">b-col b-col_small_12 b-col_medium_6</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="b-col b-col_small_12 b-col_medium_6">
                                <div class="b-helper">b-col b-col_small_12 b-col_medium_6</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="b-col b-col_small_12 b-col_medium_3 b-col_large_2">
                    <div class="b-helper">
                        b-col b-col_small_12 b-col_medium_3 b-col_large_2
                        <div class="b-row">
                            <div class="b-col b-col_small_12 b-col_medium_6">
                                <div class="b-helper">
                                    b-col b-col_small_6
                                    <div class="b-row">
                                        <div class="b-col b-col_small_12 b-col_medium_6">
                                            <div class="b-helper">b-col b-col_small_6</div>
                                        </div>
                                        <div class="b-col b-col_small_12 b-col_medium_6">
                                            <div class="b-helper">b-col b-col_small_6</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="b-col b-col_small_12 b-col_medium_6">
                                <div class="b-helper">b-col b-col_small_6</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>