$flexy-block-tab-header-shadow: inset 0 -2px 0 0 $flexy-theme-divider-color !default;
$flexy-block-tab-color: $flexy-theme-divider-color !default;
$flexy-block-tab-disabled-color: #96a8b2 !default;

$flexy-block-tab-disabled: (
        color: #ccc
) !default;
$flexy-block-tab-active: (

) !default;