$flexy-breadcrumb-symbol: '/' !default;

.#{$flexy-prefix}-breadcrumb {
  &__item {
    display: inline-block;
    width: auto;
    padding: 0;

    &:not(:last-child)::after {
      padding: 0 .5em;
      color: #96a8b2;
      content: $flexy-breadcrumb-symbol;
    }
  }

  &__link {
    color: $flexy-theme-input-focus-color;
    text-decoration: none;
  }
}