$flexy-breadcrumb-symbol: '/' !default;

.#{$flexy-prefix}-breadcrumb {
  &__item {
    display: inline-block;
    width: auto;
    padding: 0;
  }

  &__symbol {
    padding: 0 .5em;
    color: $flexy-theme-breadcrumb-link-color;

    &::after {
      content: $flexy-breadcrumb-symbol;
    }
  }

  &__link {
    color: $flexy-theme-breadcrumb-link-color;
    text-decoration: none;

    &:hover {
      color: darken($flexy-theme-breadcrumb-link-color, 10%);
    }
  }

  .icon {
    margin: 0;
  }
}