$flexy-theme-height: 32px !default;

$flexy-theme-sizes: (
        xsmall: 0.707em,
        small: 1em,
        medium: 1.414em,
        large: 1.999em,
        xlarge: 2.827em,
        xxlarge: 3.998em
) !default;

$flexy-theme-colors: (
        default: #338FFF,
        gray: #cae2ef,
        error: #dd162d,
        success: #4caf50,
        primary: #2196f3
) !default;
$flexy-theme-border-radius: 2px !default;
$flexy-theme-button-padding: 0 10px !default;
$flexy-theme-border-size: 1px !default;
$flexy-theme-group-offset: 5px !default;
$flexy-theme-blockquote-border-size: 3px !default;

@import "modifiers";
@import "colors";
@import "form";
@import "image";
@import "avatar";
@import "blockquote";
@import "input-helper";
@import "input-group";
@import "group";
@import "label";
@import "info";
@import "tag";
@import "close_ribbon";
@import "table";
@import "dropdown";
@import "kbd";
@import "errors";
@import "tooltip";
@import "typeset";

@import "space/index";
@import "button/index";
@import "divider/index";
@import "pager/index";
@import "breadcrumb/index";
@import "card/index";
@import "tab/index";
@import "segment/index";
@import "badge/index";
@import "input/index";
@import "heading/index";
