$flexy-theme-height: 32px !default;
$flexy-theme-colors: (
        default: #96a8b2,
        error: #dd162d,
        success: #4caf50,
        primary: #2196f3
) !default;
$flexy-theme-font-mono: Consolas, Andale Mono WT, Andale Mono, Lucida Console, Lucida Sans Typewriter, DejaVu Sans Mono, Bitstream Vera Sans Mono, Liberation Mono, Nimbus Mono L, Monaco, Courier New, Courier, monospace !default;
$flexy-theme-border-radius: 2px !default;
$flexy-theme-button-padding: 0 10px !default;
$flexy-theme-border-size: 1px !default;
$flexy-theme-group-offset: 5px !default;
$flexy-theme-placeholder-color: #c8c8c8 !default;
$flexy-theme-input-color: #c8c8c8 !default;
$flexy-theme-input-focus-color: #2196f3 !default;
$flexy-theme-input-hover-color: darken($flexy-theme-input-color, 20%) !default;
$flexy-theme-blockquote-border-size: 3px !default;

$flexy-theme-breadcrumb-link-color: #96a8b2 !default;

@import "modifiers";
@import "colors";
@import "form";
@import "image";
@import "heading";
@import "card";
@import "tab";
@import "avatar";
@import "embed";
@import "segment";
@import "blockquote";
@import "input";
@import "input-helper";
@import "input-group";
@import "group";
@import "label";
@import "info";
@import "tag";
@import "close_ribbon";
@import "button";
@import "divider";
@import "table";
@import "dropdown";
@import "kbd";
@import "errors";
@import "tooltip";
@import "badge";
@import "breadcrumb";
@import "typeset";
