.#{$flexy-prefix}-dropdown {
  $arrow-size: 4px;

  display: inline-block;
  position: relative;
  cursor: pointer;
  text-align: center;
  color: #ccc;

  & > .icon {
    margin: 0;
  }

  &__link {
    text-decoration: none;
    color: #fff;
    margin: 0;
    font-size: 15px;
    padding: 2px 10px;
    display: block;

    &:hover {
      background: {
        color: lighten(#1B242E, 10%)
      }
      color: #fff;
    }
  }

  &__item {
    text-align: left;
    line-height: 1.5em;
  }

  &_large {
    width: 32px;
    height: 32px;

    & > .icon {
      font-size: 24px;
      line-height: 32px;
    }
  }

  &_left {
    .b-dropdown__container {
      left: 0;
      transform: none;

      &::after, &::before {
        bottom: 100%;
        left: 12px;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
      }
    }
  }

  &_right {
    .b-dropdown__container {
      left: auto;
      right: 0;
      transform: none;

      &::after, &::before {
        bottom: 100%;
        left: auto;
        right: 12px;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
      }
    }
  }

  &__container {
    list-style: none;
    margin: 0;
    width: 160px;
    top: auto;
    left: 50%;
    visibility: hidden;
    opacity: 0;
    z-index: 1;
    position: absolute;
    box-shadow: 0 0 0 1px rgba(16, 22, 26, .1), 0 2px 4px rgba(16, 22, 26, .2), 0 8px 24px rgba(16, 22, 26, .2);
    background: {
      color: #1B242E;
    }
    color: #fff;
    padding: 10px 0;
    transition: all .2s ease;
    transform: translate(-50%, 0);

    &::after, &::before {
      bottom: 100%;
      left: 50%;
      border: solid transparent;
      content: " ";
      height: 0;
      width: 0;
      position: absolute;
      pointer-events: none;
    }

    &::after {
      border-color: rgba(255, 255, 255, 0);
      border-bottom-color: #1B242E;
      border-width: $arrow-size;
      margin-left: -$arrow-size;
    }

    &::before {
      border-color: rgba(204, 204, 204, 0);
      border-bottom-color: #1B242E;
      border-width: $arrow-size + 1px;
      margin-left: -($arrow-size + 1px);
    }
  }

  &:hover {
    .b-dropdown__container {
      visibility: visible;
      opacity: 1;
    }
  }
}