.#{$flexy-prefix}-group {
  display: flex;
  flex-wrap: nowrap;
  align-items: flex-end;

  &_space_between,
  &_between {
    justify-content: space-between;
  }

  &_space_around,
  &_around {
    justify-content: space-around;
  }

  & > .#{$flexy-prefix}-input-group {
    &:not(:last-child) {
      margin-right: 1em;
    }
  }
}
