.#{$flexy-prefix}-heading {
  margin: 0;
  padding: 0 0 .5em;
  text-decoration: none;
  color: $flexy-heading-text-color;

  & > a {
    color: $flexy-heading-text-color;
  }
  
  &__caption {
    display: block;
    margin-top: -.5em;
    margin-bottom: 1em;
    font-size: .9em;
    color: #aaa;
  }

  &__sub {
    padding: 0;
    font-size: .8em;
    opacity: .6;
    color: #2c3e50
  }
}

@mixin flexy-heading {
  h1 {
    @extend .b-heading;
    @extend .m-size_xxlarge;
    @content;
  }

  h2 {
    @extend .b-heading;
    @extend .m-size_xlarge;
    @content;
  }

  h3 {
    @extend .b-heading;
    @extend .m-size_large;
    @content;
  }

  h4 {
    @extend .b-heading;
    @extend .m-size_medium;
    @content;
  }

  h5 {
    @extend .b-heading;
    @extend .m-size_small;
    @content;
  }

  h6 {
    @extend .b-heading;
    @extend .m-size_xsmall;
    @content;
  }
}
