.#{$flexy-prefix}-kbd {
  display: inline-block;
  background: linear-gradient(to bottom, #fff, rgba(255, 255, 255, 0)) left
      no-repeat,
    center no-repeat #f5f8fa;
  box-shadow: inset 0 0 0 1px rgba(16, 22, 26, 0.2),
    inset 0 -1px 0 rgba(16, 22, 26, 0.1);
  color: #182026;
  font-family: $flexy-font-mono;
  padding: em-calc(2px) em-calc(5px) 0;
  border-radius: 2px;
  font-size: 0.9rem;
}
