.m-padding {
  &_medium {
    padding: 0 10px;
  }
}

.m-shadow {
  // 60 fps shadow animation
  // http://tobiasahlin.com/blog/how-to-animate-box-shadow/
  position: relative;
  box-shadow: 0 8px 24px rgba(#000, 0.2);

  &::after {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: 0 16px 32px rgba(#000, 0.2);
    opacity: 0;
    transition: opacity 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
  }

  &:hover {
    &::after {
      opacity: 1;
    }
  }
}

.m-size {
  @each $name, $size in $flexy-theme-sizes {
    &_#{$name} {
      font-size: #{$size} !important;
    }
  }
}