.#{$flexy-prefix}-tab {
  display: block;

  &__header {
    display: flex;
    justify-content: flex-start;
    text-align: center;
    box-shadow: inset 0 -2px 0 0 #fff;
  }

  &__tab {
    cursor: pointer;
    margin: 0;
    padding: .5em 1em;
    border-radius: $flexy-theme-border-radius $flexy-theme-border-radius 0 0;

    &:hover {
      background: {
        color: rgba(#fff, .5);
      }
    }

    &_active {
      cursor: default;
      background: {
        color: #fff;
      }

      &:hover {
        background: {
          color: #fff;
        }
      }
    }

    &_disabled {
      background-color: initial;
      color: #96a8b2;
      cursor: not-allowed;
    }
  }

  &__content {
    display: none;
    padding: 1em 0;

    &_padding {
      padding: 1em;
    }

    &_active {
      display: block;
    }
  }
}