.#{$flexy-prefix}-table {
  $flexy-table-th-td-padding: 4px 8px;
  $flexy-table-th-td-border-color: #e8e8e8;

  width: 100%;
  background: #FFFFFF;
  margin: 1em 0;
  box-shadow: none;
  text-align: left;
  color: rgba(0, 0, 0, .87);
  border-collapse: collapse;
  border-spacing: 0;

  &:first-child {
    margin-top: 0;
  }
  &:last-child {
    margin-bottom: 0;
  }

  &__thead, &__tfoot {
    box-shadow: none;
  }

  &__tr {
    &_thead {
    }

    &_tbody {
      &:hover {

      }
    }
  }

  &__td, &__th {
    border: 1px solid $flexy-table-th-td-border-color;
    padding: $flexy-table-th-td-padding;
    text-align: inherit;
    vertical-align: inherit;
    cursor: auto;
    transition: background .1s ease, color .1s ease;
    text-transform: none;
    color: rgba(0, 0, 0, .87);
  }

  &__td {
    background: #fff;

    &_tbody {
      border: 1px solid $flexy-table-th-td-border-color;
    }

    &_actions {
      width: 100px;
      text-align: center;

      a {
        text-decoration: none;
      }
    }
  }

  &__th {
    background: #F9FAFB;
    font-weight: bold;
  }

  &__link {
    color: #aaa;
    text-decoration: none;
    display: block;

    &:hover {
      color: inherit;
    }
  }
}