@mixin flexy-typeset {
  p {
    margin-bottom: 1em;
  }

  // Lists.
  ul, ol {
    font-size: $flexy-body-font-size;
    margin-left: 1rem;
    margin-bottom: 1em;

    li {
      font-feature-settings: 'kern', 'onum', 'liga';

      ol, ul {
        padding-top: 1rem;
        margin-bottom: 1rem;
        margin-left: 2rem;
      }
    }
  }

  // Ordered lists.
  ol {
    list-style-type: none;

    li {
      counter-increment: top-level;

      &:before {
        content: counter(top-level) '.';
        font-feature-settings: 'lnum', 'tnum';
        margin-left: -3rem;
        position: absolute;
        text-align: right;
        width: 2em;
      }

      ul {

        li {

          &:before {
            content: '';
          }

          ol {

            li {
              counter-increment: alt-level;

              &:before {
                content: counter(alt-level) '.';
              }
            }
          }
        }
      }

      ol {

        li {
          counter-increment: sub-level;

          &:before {
            content: counter(top-level) '.' counter(sub-level);
          }

          ul {

            li {

              &:before {
                content: '';
              }
            }
          }

          ol {

            li {
              counter-increment: sub-sub-level;

              &:before {
                content: counter(top-level) '.' counter(sub-level) '.' counter(sub-sub-level);
              }
            }
          }
        }
      }
    }
  }

  // Horizontal rule.
  hr {
    @extend .b-divider;
  }

  // Code block.
  code, pre {
    box-shadow: 0 0 0 1px rgba(#ecf0f1, 0.2) inset;
    background-color: #ecf0f1;
    font-size: .9em;
    font-family: Consolas, Menlo, Monospaced, monospace;
  }

  pre {
    margin-bottom: 1em;
    display: block;
    padding: 10px;
    white-space: pre;
    white-space: pre-wrap;
    word-break: break-all;
    word-wrap: break-word;

    & > code {
      background-color: transparent;
      box-shadow: none;
    }
  }

  blockquote {
    padding: 2em;
    margin-bottom: 1em;
    background-color: #f5f5f5;
    position: relative;

    &::after {
      transform: skewX(-15deg);
      content: "";
      position: absolute;
      top: 100%;
      right: 25px;
      border-width: 15px 15px 0 0;
      border-style: solid;
      border-color: #f5f5f5 transparent;
    }

    p {
      margin-bottom: 0;
    }
  }

  img {
    max-width: 100%;
    height: auto;
  }
}

.b-typeset {
  @include flexy-typeset;
}