<div class="b-row">
    <div class="b-col b-col_small_12 b-col_medium_6 b-col_large_4 b-col_xlarge_3">
        <div class="b-helper">
            b-col b-col_small_12<br/>
            b-col b-col_medium_6<br/>
            b-col b-col_large_4<br/>
            b-col b-col_xlarge_3
        </div>
    </div>
    <div class="b-col b-col_small_12 b-col_medium_6 b-col_large_4 b-col_xlarge_3">
        <div class="b-helper">
            b-col b-col_small_12<br/>
            b-col b-col_medium_6<br/>
            b-col b-col_large_4<br/>
            b-col b-col_xlarge_3
        </div>
    </div>
    <div class="b-col b-col_small_12 b-col_medium_6 b-col_large_4 b-col_xlarge_3">
        <div class="b-helper">
            b-col b-col_small_12<br/>
            b-col b-col_medium_6<br/>
            b-col b-col_large_4<br/>
            b-col b-col_xlarge_3
        </div>
    </div>
    <div class="b-col b-col_small_12 b-col_medium_6 b-col_large_4 b-col_xlarge_3">
        <div class="b-helper">
            b-col b-col_small_12<br/>
            b-col b-col_medium_6<br/>
            b-col b-col_large_4<br/>
            b-col b-col_xlarge_3
        </div>
    </div>
</div>