<div class="b-row">
    <div class="b-col b-col_small_12">
        <div class="b-helper">b-col b-col_small_12</div>
    </div>

    <div class="b-col b-col_small_6">
        <div class="b-helper">b-col b-col_small_6</div>
    </div>
    <div class="b-col b-col_small_6">
        <div class="b-helper">b-col b-col_small_6</div>
    </div>

    <div class="b-col b-col_small_4">
        <div class="b-helper">b-col b-col_small_4</div>
    </div>
    <div class="b-col b-col_small_4">
        <div class="b-helper">b-col b-col_small_4</div>
    </div>
    <div class="b-col b-col_small_4">
        <div class="b-helper">b-col b-col_small_4</div>
    </div>

    <div class="b-col b-col_small_3">
        <div class="b-helper">b-col b-col_small_3</div>
    </div>
    <div class="b-col b-col_small_3">
        <div class="b-helper">b-col b-col_small_3</div>
    </div>
    <div class="b-col b-col_small_3">
        <div class="b-helper">b-col b-col_small_3</div>
    </div>
    <div class="b-col b-col_small_3">
        <div class="b-helper">b-col b-col_small_3</div>
    </div>

    <div class="b-col b-col_small_2">
        <div class="b-helper">b-col b-col_small_2</div>
    </div>
    <div class="b-col b-col_small_2">
        <div class="b-helper">b-col b-col_small_2</div>
    </div>
    <div class="b-col b-col_small_2">
        <div class="b-helper">b-col b-col_small_2</div>
    </div>
    <div class="b-col b-col_small_2">
        <div class="b-helper">b-col b-col_small_2</div>
    </div>
    <div class="b-col b-col_small_2">
        <div class="b-helper">b-col b-col_small_2</div>
    </div>
    <div class="b-col b-col_small_2">
        <div class="b-helper">b-col b-col_small_2</div>
    </div>

    <div class="b-col b-col_small_1">
        <div class="b-helper">b-col b-col_small_1</div>
    </div>
    <div class="b-col b-col_small_1">
        <div class="b-helper">b-col b-col_small_1</div>
    </div>
    <div class="b-col b-col_small_1">
        <div class="b-helper">b-col b-col_small_1</div>
    </div>
    <div class="b-col b-col_small_1">
        <div class="b-helper">b-col b-col_small_1</div>
    </div>
    <div class="b-col b-col_small_1">
        <div class="b-helper">b-col b-col_small_1</div>
    </div>
    <div class="b-col b-col_small_1">
        <div class="b-helper">b-col b-col_small_1</div>
    </div>
    <div class="b-col b-col_small_1">
        <div class="b-helper">b-col b-col_small_1</div>
    </div>
    <div class="b-col b-col_small_1">
        <div class="b-helper">b-col b-col_small_1</div>
    </div>
    <div class="b-col b-col_small_1">
        <div class="b-helper">b-col b-col_small_1</div>
    </div>
    <div class="b-col b-col_small_1">
        <div class="b-helper">b-col b-col_small_1</div>
    </div>
    <div class="b-col b-col_small_1">
        <div class="b-helper">b-col b-col_small_1</div>
    </div>
    <div class="b-col b-col_small_1">
        <div class="b-helper">b-col b-col_small_1</div>
    </div>
</div>