<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Flexy SCSS framework</title>
    <link rel="stylesheet" href="css/bundle.css">
</head>
<body>
<div class="b-row">
    <div class="b-col b-col_small_12">
        <div class="b-header">
            <h1>
                <a class="b-logo" href="/flexy/">Flexy</a>
            </h1>
        </div>
    </div>
</div>

<div class="b-wrapper">
    <div class="b-row">
        <div class="b-col b-col_small_12">
            {% block content %}
            {% endblock %}
        </div>
    </div>
</div>


<div class="b-row">
    <div class="b-col b-col_small_12">
        <div class="b-footer">
            <div class="b-divider"></div>
            <div>
                &copy; <a href="https://github.com/max107" target="_blank">max107</a> & <a href="https://github.com/KirillUrgant" target="_blank">KirillUrgant</a>
            </div>
        </div>
    </div>
</div>
</body>
</html>