<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><% print(file.meta.title ? file.meta.title + ' - ' : '') %>Flexy SCSS framework</title>
    <meta name="keywords" content="<%= file.meta.keywords || '' %>">
    <meta name="description" content="<%= file.meta.description || '' %>">
    <link rel="stylesheet" href="/css/bundle.css">
</head>
<body>
<div class="b-wrapper">
    <div class="b-header">
        <div class="b-row">
            <div class="b-col b-col_small_2">
                <a class="b-logo" href="/">Flexy</a>
            </div>
            <div class="b-col b-col_small_10">
                <ul class="b-header-menu">
                    <li class="b-header-menu__item">
                        <a href="/grid.html">Grid</a>
                    </li>
                    <li class="b-header-menu__item">
                        <a href="/block_grid.html">Block grid</a>
                    </li>
                    <li class="b-header-menu__item">
                        <a href="/visibility.html">Visibility</a>
                    </li>
                    <li class="b-header-menu__item">
                        <a href="/reset.html">Reset</a>
                    </li>
                    <li class="b-header-menu__item">
                        <a href="/breakpoint.html">Breakpoint</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="b-row">
        <div class="b-col b-col_small_12">
            <div class="b-typeset">
                <%= contents %>
            </div>
        </div>
    </div>
    <div class="b-col b-col_small_12">
        <div class="b-footer">
            <div>
                &copy; 2017 <noindex>
                    <a href="https://github.com/max107" target="_blank">max107</a> &&
                    <a href="https://github.com/KirillUrgant" target="_blank">KirillUrgant</a>
                </noindex> at
                <a href="https://studio107.ru">studio107.ru</a>
            </div>
        </div>
    </div>
</div>
</body>
</html>