<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Flexy SCSS framework</title>
    <link rel="stylesheet" href="css/bundle.css">
</head>
<body>
<div class="b-row">
    <div class="b-col b-col_small_12">
        <div class="b-header">
            <h1>
                <a class="b-logo" href="/">Flexy</a>
            </h1>
        </div>
    </div>
</div>

<div class="b-wrapper">
    <div class="b-row">
        <div class="b-col b-col_small_12">
            {% block content %}
            {% endblock %}
        </div>
    </div>
</div>
</body>
</html>