{% extends "base.html" %}

{% block content %}
    <h1 class="b-heading">Block grid</h1>

    <h2 class="b-heading">Использование block grid</h2>

    <p>Block grid представляет из себя аналог <a
                href="http://foundation.zurb.com/sites/docs/v/5.5.3/components/block_grid.html">одноименного компонента
            из foundation</a></p>

    <h2 class="b-heading">Настройки</h2>

    <pre>// Максимальное количество блоков в block grid
$flexy-block-grid-count: 25 !default;</pre>

    <p>Block grid использует названия из настроек `flexy-breakpoint` в качестве модификаторов.</p>

    <h2 class="b-heading">Внимание</h2>
    <p>Все блоки имеют по умолчанию media query от N и не фиксируются по верхнему значению:</p>

    <pre>@media screen and (min-width: 200px) {
    ...
}</pre>

    <h2 class="b-heading">Простой пример (По умолчанию выравнивание по левому краю)</h2>

    <div class="b-tab">
        <div class="b-tab__header">
            <div class="b-tab__tab b-tab__tab_active" data-tab="example">Example</div>
            <div class="b-tab__tab" data-tab="source">Source</div>
        </div>
        <div data-tab="example" class="b-tab__content b-tab__content_active">
            {% include "example/_block-grid.html" %}
        </div>
        <div data-tab="source" class="b-tab__content">
            {% set itemHtml %}{% include "example/_block-grid.html" %}{% endset %}
            <pre>{{ itemHtml|escape }}</pre>
        </div>
    </div>

    <h2 class="b-heading">Выравнивание по правому краю</h2>

    <div class="b-tab">
        <div class="b-tab__header">
            <div class="b-tab__tab b-tab__tab_active" data-tab="example">Example</div>
            <div class="b-tab__tab" data-tab="source">Source</div>
        </div>
        <div data-tab="example" class="b-tab__content b-tab__content_active">
            {% include "example/_block-grid_right.html" %}
        </div>
        <div data-tab="source" class="b-tab__content">
            {% set itemHtml %}{% include "example/_block-grid_right.html" %}{% endset %}
            <pre>{{ itemHtml|escape }}</pre>
        </div>
    </div>

    <h2 class="b-heading">Выравнивание по центру</h2>

    <div class="b-tab">
        <div class="b-tab__header">
            <div class="b-tab__tab b-tab__tab_active" data-tab="example">Example</div>
            <div class="b-tab__tab" data-tab="source">Source</div>
        </div>
        <div data-tab="example" class="b-tab__content b-tab__content_active">
            {% include "example/_block-grid_center.html" %}
        </div>
        <div data-tab="source" class="b-tab__content">
            {% set itemHtml %}{% include "example/_block-grid_center.html" %}{% endset %}
            <pre>{{ itemHtml|escape }}</pre>
        </div>
    </div>
{% endblock %}