{% extends "base.html" %}

{% block content %}
    <h1 class="b-heading">Breakpoint</h1>

    <h2 class="b-heading">Использование flexy breakpoint</h2>

    <p>Block grid представляет из себя аналог <a
                href="http://foundation.zurb.com/sites/docs/v/5.5.3/components/block_grid.html">одноименного компонента
            из foundation</a></p>

    <h2 class="b-heading">Настройки</h2>

    <pre>$flexy-breakpoints: (
    small: 0,
    medium: 768px,
    large: 992px,
    xlarge: 1200px,
    xxlarge: 1600px
) !default;</pre>

    <p>`$flexy-breakpoints` это `map` из sass где в качестве ключа выступает любое удобное для вас название media</p>

    <p><strong>Пример:</strong></p>

    <pre>$flexy-breakpoints: (
    foo: 100px,
    bar: 350px
);

.my-class {
    font-weight: normal;

    @include flexy-breakpoint(bar) {
        font-weight: bold;
        ...
    }
}</pre>

    <p>Block grid использует названия из настроек `flexy-breakpoint` в качестве модификаторов.</p>

    <h2 class="b-heading">Внимание</h2>
    <p>Все блоки имеют по умолчанию media query от N и не фиксируются по верхнему значению:</p>

    <pre>@media screen and (min-width: 200px) {
    ...
}</pre>

    <h2 class="b-heading">Описание функций и миксинов</h2>

    <h3 class="b-heading">flexy-breakpoint</h3>

    <p>Принимает в качестве аргументов `(string, string)`</p>

    <div class="b-tab">
        <div class="b-tab__header">
            <div class="b-tab__tab b-tab__tab_active" data-tab="example">Example</div>
            <div class="b-tab__tab" data-tab="source">Source</div>
        </div>
        <div data-tab="example" class="b-tab__content b-tab__content_active">
                <pre>.my-class {
    @include flexy-breakpoint(bar, print) {
        color: red;
    }
}</pre>
        </div>
        <div data-tab="source" class="b-tab__content">
            <pre>@media print and (min-width: 350px) {
    .my-class {
        color: red;
    }
}</pre>
        </div>
    </div>

    <h3 class="b-heading">flexy-media</h3>

    <p>Принимает в качестве аргументов `(map, string)`</p>

    <div class="b-tab">
        <div class="b-tab__header">
            <div class="b-tab__tab b-tab__tab_active" data-tab="example">Example</div>
            <div class="b-tab__tab" data-tab="source">Source</div>
        </div>
        <div data-tab="example" class="b-tab__content b-tab__content_active">
                <pre>.my-class {
    @include flexy-media((min-width: 100px, max-width: 110px), print) {
        color: red;
    }
}</pre>
        </div>
        <div data-tab="source" class="b-tab__content">
            <pre>@media print and (min-width: 100px) and (max-width: 110px) {
    .my-class {
        color: red;
    }
}</pre>
        </div>
    </div>

    <h3 class="b-heading">flexy-get-breakpoint</h3>

    <p>Функция принимает в качестве аргументов `(string)`</p>

    <div class="b-tab">
        <div class="b-tab__header">
            <div class="b-tab__tab b-tab__tab_active" data-tab="example">Example</div>
            <div class="b-tab__tab" data-tab="source">Source</div>
        </div>
        <div data-tab="example" class="b-tab__content b-tab__content_active">
                <pre>flexy-get-breakpoint(foo);</pre>
        </div>
        <div data-tab="source" class="b-tab__content">
            <pre>350px</pre>
        </div>
    </div>
{% endblock %}