{% extends "base.html" %}

{% block content %}
    <h1>Breakpoint</h1>

    <div class="b-divider"></div>

    <h3>Оглавление</h3>

    <ol>
        <li><a href="#description">Описание</a></li>
        <li><a href="#settings">Настройки</a></li>
        <li>
            <a href="#usage">Использование</a>
            <ol>
                <li><a href="#flexy-breakpoint">flexy-breakpoint</a></li>
                <li><a href="#flexy-media">flexy-media</a></li>
            </ol>
        </li>
    </ol>

    <div class="b-divider"></div>

    <h3><a name="description"/>Описание</h3>

    <p>Миксины и функции созданы для облегчения работы с @media</p>

    <div class="b-divider"></div>

    <h3><a name="settings"/>Настройки:</h3>

    <pre>$flexy-breakpoints: (
        small: 0,
        medium: 768px,
        large: 992px,
        xlarge: 1200px,
        xxlarge: 1600px
) !default;</pre>

    <ol>
        <li>small - от 0 до 767px</li>
        <li>medium - от 768px до 991px</li>
        <li>large - от 992px до 1199px</li>
        <li>xlarge - от 1200px до 1599px</li>
        <li>xxlarge - от 1600px</li>
    </ol>

    <div class="b-divider"></div>

    <h3><a name="usage"/>Использование:</h3>

    <div class="b-divider"></div>

    <h4><a name="flexy-breakpoint"/>flexy-breakpoint</h4>

    <pre>@include flexy-breakpoint(large, print);</pre>

    <pre>.b-breakpoint {
  padding: 10px;
  text-align: center;

  @include flexy-breakpoint(small) {
    background-color: gray;
  }

  @include flexy-breakpoint(medium) {
    background-color: green;
  }

  @include flexy-breakpoint(large) {
    background-color: blue;
  }

  @include flexy-breakpoint(xlarge) {
    background-color: yellow;
  }

  @include flexy-breakpoint(xxlarge) {
    background-color: orange;
  }
}</pre>

    <p>Результат</p>
    <pre>.b-breakpoint {
  padding: 10px;
  text-align: center;
}

@media screen and (min-width: 0) {
  .b-breakpoint {
    background-color: gray;
  }
}

@media screen and (min-width: 768px) {
  .b-breakpoint {
    background-color: green;
  }
}

@media screen and (min-width: 992px) {
  .b-breakpoint {
    background-color: blue;
  }
}

@media screen and (min-width: 1200px) {
  .b-breakpoint {
    background-color: yellow;
  }
}

@media screen and (min-width: 1600px) {
  .b-breakpoint {
    background-color: orange;
  }
}</pre>

    <p>Пример:</p>
    <div class="b-breakpoint">
        Hello world
    </div>

    <div class="b-divider"></div>

    <h4><a name="flexy-media"/>flexy-media</h4>

    <pre>@include flexy-media((min-width: 600px, max-width: 700px), print);</pre>

    <p>Код:</p>
    <pre>.b-media {
  @include flexy-media((min-width: 600px, max-width: 700px)) {
    background-color: purple;
  }
}</pre>

    <p>Результат:</p>
    <pre>@media screen and (min-width: 600px) and (max-width: 700px) {
  .b-media {
    background-color: purple;
  }
}</pre>

    <p>Пример:</p>
    <div class="b-media">
        Hello world
    </div>
{% endblock %}