{% extends "base.html" %}

{% block content %}
    <h1 class="b-heading">Сетка с использованием flex</h1>

    <h2 class="b-heading">Настройки</h2>

    <pre>// Максимальное количество колонок
$flexy-grid-columns: 12 !default;
// Отступы между колонками
$flexy-grid-gutter: 0.5em !default;
// Максимальная ширина контейнера
$flexy-grid-wrapper-max-width: 100% !default;
// Минимальная ширина контейнера
$flexy-grid-wrapper-min-width: auto !default;</pre>

    <p>Сетка использует названия из настроек `flexy-breakpoint` в качестве модификаторов.</p>

    <h2 class="b-heading">Внимание</h2>

    <p>отступы (padding) заданы у класса `b-helper` который является вспомогательным блоком. У колонок внутренние
        отступы отсутствуют.</p>

    <div class="b-tab">
        <div class="b-tab__header">
            <div class="b-tab__tab b-tab__tab_active" data-tab="example">Example</div>
            <div class="b-tab__tab" data-tab="source">Source</div>
        </div>
        <div data-tab="example" class="b-tab__content b-tab__content_active">
            <div class="b-helper">
                b-helper
                <div class="b-helper">
                    b-helper
                </div>
            </div>
        </div>
        <div data-tab="source" class="b-tab__content">
            {% set itemHtml %}<div class="b-helper">
    b-helper
    <div class="b-helper">
        b-helper
    </div>
</div>{% endset %}
            <pre>{{ itemHtml|escape }}</pre>
        </div>
    </div>

    <h2 class="b-heading">Контейнер</h2>
    <h3 class="b-heading">Ограничения по ширине</h3>

    <p>Для того, чтобы создать фиксированный по ширине контейнер, нужно указать
        в настройках:</p>

    <pre>$flexy-grid-wrapper-max-width: 1280px; // Нужное вам значение в px|em|rem</pre>

    <h3 class="b-heading">Использование</h3>
    {% set itemHtml %}<div class="b-wrapper">
    <div class="b-row">
        ...
    </div>
</div>{% endset %}
    <pre>{{ itemHtml|escape }}</pre>

    <h3 class="b-heading">Выравнивание</h3>

    <p>Контейнер можно прижать к краям с помощью модификаторов `_left` и `_right`.
        По умолчанию контейнер позиционируется по центру.</p>

    {% set itemHtml %}<div class="b-wrapper b-wrapper_left"></div>
<div class="b-wrapper b-wrapper_right"></div>
<div class="b-wrapper b-wrapper_center"></div>{% endset %}
    <pre>{{ itemHtml|escape }}</pre>

    <h3 class="b-heading">Отключение отзывчивости (выключение media query)</h3>

    <p>Для отключения media query и фиксации контейнера по ширине укажите в настройках
        максимальную ширину и минимальную ширину</p>

    <pre>
$flexy-grid-wrapper-max-width: 978px;
$flexy-grid-wrapper-min-width: $flexy-grid-wrapper-max-width;</pre>

    <p>После изменения настроек контейнер не будет изменяться, следовательно и сетка внутри
        не будет перестраиваться.</p>

    <h2 class="b-heading">Сетка</h2>

    <div class="b-tab">
        <div class="b-tab__header">
            <div class="b-tab__tab b-tab__tab_active" data-tab="example">Example</div>
            <div class="b-tab__tab" data-tab="source">Source</div>
        </div>
        <div data-tab="example" class="b-tab__content b-tab__content_active">
            {% include "example/_grid.html" %}
        </div>
        <div data-tab="source" class="b-tab__content">
            {% set itemHtml %}{% include "example/_grid.html" %}{% endset %}
            <pre>{{ itemHtml|escape }}</pre>
        </div>
    </div>

    <h2 class="b-heading">Авто позиционирование</h2>

    <div class="b-tab">
        <div class="b-tab__header">
            <div class="b-tab__tab b-tab__tab_active" data-tab="example">Example</div>
            <div class="b-tab__tab" data-tab="source">Source</div>
        </div>
        <div data-tab="example" class="b-tab__content b-tab__content_active">
            {% include "example/_grid_auto.html" %}
        </div>
        <div data-tab="source" class="b-tab__content">
            {% set itemHtml %}{% include "example/_grid_auto.html" %}{% endset %}
            <pre>{{ itemHtml|escape }}</pre>
        </div>
    </div>

    <h2 class="b-heading">Вложенная сетка</h2>

    <div class="b-tab">
        <div class="b-tab__header">
            <div class="b-tab__tab b-tab__tab_active" data-tab="example">Example</div>
            <div class="b-tab__tab" data-tab="source">Source</div>
        </div>
        <div data-tab="example" class="b-tab__content b-tab__content_active">
            {% include "example/_grid_nested.html" %}
        </div>
        <div data-tab="source" class="b-tab__content">
            {% set itemHtml %}{% include "example/_grid_nested.html" %}{% endset %}
            <pre>{{ itemHtml|escape }}</pre>
        </div>
    </div>

    <h2 class="b-heading">Пример с отзывчивой сеткой</h2>

    <div class="b-tab">
        <div class="b-tab__header">
            <div class="b-tab__tab b-tab__tab_active" data-tab="example">Example</div>
            <div class="b-tab__tab" data-tab="source">Source</div>
        </div>
        <div data-tab="example" class="b-tab__content b-tab__content_active">
            {% include "example/_grid_responsive.html" %}
        </div>
        <div data-tab="source" class="b-tab__content">
            {% set itemHtml %}{% include "example/_grid_responsive.html" %}{% endset %}
            <pre>{{ itemHtml|escape }}</pre>
        </div>
    </div>

    <div class="b-divider"></div>

    <h2 class="b-heading">Известные проблемы</h2>

    <p>* Выравнивание по правому краю может не соответствовать на 1px</p>

    <div class="b-divider"></div>

    <h2 class="b-heading">Частые ошибки</h2>

    <p>Не следует вкладывать `b-row` внутрь `b-row` без дополнительной обертки в виде `b_col`</p>

    <p><strong>Плохо</strong></p>

    {% set itemHtml %}<div class="b-row">
    <div class="b-row">
        <div class="b-col b-col_small_12">
            Hello world
        </div>
    </div>
</div>{% endset %}
    <pre>{{ itemHtml|escape }}</pre>

    <p><strong>Хорошо</strong></p>

    {% set itemHtml %}<div class="b-row">
    <div class="b-col b-col_small_12">
        <div class="b-row">
            <div class="b-col b-col_small_12">
                Hello world
            </div>
        </div>
    </div>{% endset %}
    <pre>{{ itemHtml|escape }}</pre>

    <p>Не следует фиксировать размер для `b_row`</p>

    <p><strong>Плохо</strong></p>

    <pre>.b-row {
    min-width: 700px;
}</pre>

    <p><strong>Хорошо</strong></p>

    <p>Используйте ограничения контейнера описанные в разделе "настройки"</p>
{% endblock %}