{% extends "base.html" %}

{% block content %}
    <h1 class="b-heading">Об организации кода</h1>

    <p>Flexy использует идеологию и методологию BEM, но не в полной мере. Мы стараемся соблюдать плоскую структуру там, где это
        возможно. Без фанатизма. Плоская структура блоков позволяет переиспользовать блоки не только в рамках одного проекта,
        но так же позволяет переносить блоки из проекта в проект. Так же это положительно влияет на скорость отрисовки страницы.</p>

    <pre>├── _global.scss
├── _mixins.scss
├── _functions.scss
├── _settings.scss
├── _theme.scss
├── block
│   ├── cart
│   │   └── _cart-list.scss
│   └── page
│       ├── _page-item.scss
│       ├── _page-list.scss
│       └── _page-typography.scss
└── screen.scss</pre>

    <p>* `_global.scss` - глобальные стили проекта</p>
    <p>* `_mixins.scss` - миксины используемые в проекте</p>
    <p>* `_functions.scss` - функции используемые в проекте</p>
    <p>* `screen.scss` - основная разметка</p>
    <p>* `_theme.scss` - UI для проекта</p>
    <p>* `block` - директория для блоков</p>
{% endblock %}