{% extends "base.html" %}

{% macro ui(id) %}
    <div class="b-row">
        <div class="b-col b-col_small_4">
            <div class="b-checkbox">
                <input class="b-checkbox__input" type="checkbox" name="checkbox{{ id }}" id="checkbox{{ id }}first">
                <label class="b-checkbox__label" for="checkbox{{ id }}first">Чекбокс</label>
            </div>
            <div class="b-checkbox">
                <input class="b-checkbox__input" type="checkbox" name="checkbox{{ id }}" id="checkbox{{ id }}last">
                <label class="b-checkbox__label" for="checkbox{{ id }}last">Чекбокс</label>
            </div>
        </div>
        <div class="b-col b-col_small_4">
            <div class="b-radio">
                <input class="b-radio__input" type="radio" name="radio{{ id }}" id="radio{{ id }}first">
                <label class="b-radio__label" for="radio{{ id }}first">Радиокнопка 1</label>
            </div>
            <div class="b-radio">
                <input class="b-radio__input" type="radio" name="radio{{ id }}" id="radio{{ id }}last">
                <label class="b-radio__label" for="radio{{ id }}last">Радиокнопка 2</label>
            </div>
        </div>
        <div class="b-col b-col_small_4">
            <div class="b-select">
                <select class="b-select__elem" name="sel1" id="sel1">
                    <option value="5 лет" selected>5 лет</option>
                    <option value="10 лет">10 лет</option>
                    <option value="15 лет">15 лет</option>
                    <option value="20 лет">20 лет</option>
                    <option value="25 лет">25 лет</option>
                    <option value="30 лет">30 лет</option>
                </select>
            </div>
        </div>
        <div class="b-col b-col_small_12">
            <div class="b-divider"></div>

            <div class="b-container">
                <div class="b-group">
                    <a href="#" class="b-button">b-button</a>
                    <button class="b-button">b-button</button>
                </div>
                <div class="b-group">
                    <input type="text" class="b-input" placeholder="b-input"/>
                </div>
                <div class="b-group">
                    <div class="b-select">
                        <select class="b-select__elem" name="sel1" id="sel1">
                            <option value="5 лет" selected>5 лет</option>
                            <option value="10 лет">10 лет</option>
                            <option value="15 лет">15 лет</option>
                            <option value="20 лет">20 лет</option>
                            <option value="25 лет">25 лет</option>
                            <option value="30 лет">30 лет</option>
                        </select>
                    </div>
                </div>
                <div class="b-group">
                    <input type="text" class="b-input" placeholder="b-input"/>
                    <input type="text" class="b-input" placeholder="b-input"/>
                    <div class="b-select">
                        <select class="b-select__elem" name="sel1" id="sel1">
                            <option value="5 лет" selected>5 лет</option>
                            <option value="10 лет">10 лет</option>
                            <option value="15 лет">15 лет</option>
                            <option value="20 лет">20 лет</option>
                            <option value="25 лет">25 лет</option>
                            <option value="30 лет">30 лет</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endmacro %}

{% block content %}
    <h1>Themes</h1>

    <div class="b-divider"></div>

    <h2>Simple</h2>

    <div class="b-theme b-theme_simple">
        {{ ui('simple') }}
    </div>

    <div class="b-divider"></div>

    <h2>Studio107</h2>

    <div class="b-theme b-theme_studio107">
        {{ ui('studio107') }}
    </div>

    <div class="b-divider"></div>
{% endblock %}