{% extends "base.html" %}

{% macro typescale(name) %}@include flexy-type-scale(16px, flexy-modular-scale({{ name }}));{% endmacro %}

{% block content %}
    <h1>Flexy typescale</h1>
    <p class="b-caption">Миксины для использования Modular Scale</p>

    <div class="b-divider"></div>

    <h3>Оглавление</h3>

    <ol>
        <li><a href="#usage">Использование</a></li>
    </ol>

    <div class="b-divider"></div>

    <h2><a name="usage"></a>Использование</h2>

    <div class="b-segment">
    <p>Код:</p>
    <pre><code class="scss">{% filter escape %}@include flexy-type-scale(16px, flexy-modular-scale(perfect-fourth));{% endfilter %}</code></pre>

    <p>Результат:</p>
    <pre><code class="css">{% filter escape %}h6 {
  font-size: 0.8002em;
  line-height: 16px;
}

h5 {
  font-size: 1.06667em;
  line-height: 21.328px;
}

h4 {
  font-size: 1.42187em;
  line-height: 28.43022px;
}

h3 {
  font-size: 1.89535em;
  line-height: 37.89749px;
}

h2 {
  font-size: 2.5265em;
  line-height: 50.51735px;
}

h1 {
  font-size: 3.36782em;
  line-height: 67.33963px;
}{% endfilter %}</code></pre>
    </div>

    <div class="b-divider"></div>

    <h3>Примеры:</h3>

    <div class="b-divider"></div>

    {% set typesets = [
    { name: 'Minor second', type: 'minor-second' },
    { name: 'Major second', type: 'major-second' },
    { name: 'Minor third', type: 'minor-third' },
    { name: 'Major third', type: 'major-third' },
    { name: 'Perfect fourth', type: 'perfect-fourth' },
    { name: 'Augmented fourth', type: 'augmented-fourth' },
    { name: 'Perfect fifth', type: 'perfect-fifth' },
    { name: 'Golden ratio', type: 'golden-ratio' }
    ] %}

    {% for typeset in typesets %}
        <div class="b-row">
            <div class="b-col b-col_small_8">
                <h4>{{ typeset.name }}</h4>
                <pre><code class="scss">{% filter escape %}{{ typescale(typeset.type) }}{% endfilter %}</code></pre>
            </div>
            <div class="b-col b-col_small_4">
                <div class="b-typescale b-typescale_{{ typeset.type }}">
                    {% for i in range(1, 6) %}
                        <h{{ i }}>Title</h{{ i }}>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="b-divider"></div>
    {% endfor %}
{% endblock %}