{% extends "base.html" %}

{% block content %}
    <h1 class="b-heading">Visibility</h1>

    <p>Компонент `visibility` позволяет отображать и скрывать блоки в зависимости от media.
        Компонент не имеет настроек и зависит от настроек для `flexy-breakpoint` и имеет 2 модификатора
        состояния.</p>

    <p>* `_only` - Только для текущего media</p>
    <p>* `_up` - Для текущего media и выше</p>

    <h2 class="b-heading">Отображать для N и выше</h2>

    <div class="b-tab">
        <div class="b-tab__header">
            <div class="b-tab__tab b-tab__tab_active" data-tab="example">Example</div>
            <div class="b-tab__tab" data-tab="source">Source</div>
        </div>
        <div data-tab="example" class="b-tab__content b-tab__content_active">
                {% include "example/_visibility_up.html" %}
        </div>
        <div data-tab="source" class="b-tab__content">
            {% set itemHtml %}{% include "example/_visibility_up.html" %}{% endset %}
            <pre>{{ itemHtml|escape }}</pre>
        </div>
    </div>

    <h2 class="b-heading">Отображать для N</h2>

    <div class="b-tab">
        <div class="b-tab__header">
            <div class="b-tab__tab b-tab__tab_active" data-tab="example">Example</div>
            <div class="b-tab__tab" data-tab="source">Source</div>
        </div>
        <div data-tab="example" class="b-tab__content b-tab__content_active">
                {% include "example/_visibility_only.html" %}
        </div>
        <div data-tab="source" class="b-tab__content">
            {% set itemHtml %}{% include "example/_visibility_only.html" %}{% endset %}
            <pre>{{ itemHtml|escape }}</pre>
        </div>
    </div>

    <h2 class="b-heading">Скрывать для N и выше</h2>

    <div class="b-tab">
        <div class="b-tab__header">
            <div class="b-tab__tab b-tab__tab_active" data-tab="example">Example</div>
            <div class="b-tab__tab" data-tab="source">Source</div>
        </div>
        <div data-tab="example" class="b-tab__content b-tab__content_active">
                {% include "example/_hide_up.html" %}
        </div>
        <div data-tab="source" class="b-tab__content">
            {% set itemHtml %}{% include "example/_hide_up.html" %}{% endset %}
            <pre>{{ itemHtml|escape }}</pre>
        </div>
    </div>

    <h2 class="b-heading">Скрывать для N</h2>

    <div class="b-tab">
        <div class="b-tab__header">
            <div class="b-tab__tab b-tab__tab_active" data-tab="example">Example</div>
            <div class="b-tab__tab" data-tab="source">Source</div>
        </div>
        <div data-tab="example" class="b-tab__content b-tab__content_active">
                {% include "example/_hide_only.html" %}
        </div>
        <div data-tab="source" class="b-tab__content">
            {% set itemHtml %}{% include "example/_hide_only.html" %}{% endset %}
            <pre>{{ itemHtml|escape }}</pre>
        </div>
    </div>
{% endblock %}