{% extends "base.html" %}

{% macro visible(component, breakpoint, state) %}<div class="b-{{ component }} b-{{ component }}_{{ breakpoint }}_{{ state }}">
    <div class="b-helper">b-{{ component }} b-{{ component }}_{{ breakpoint }}_{{ state }}</div>
</div>{% endmacro %}

{% block content %}
    <h1>Flexy visibility</h1>
    <p class="b-caption">Отображение и скрытие блоков в зависимости от flexy-breakpoint</p>

    <div class="b-divider"></div>

    <h3>Оглавление</h3>

    <ol>
        <li>
            <a href="#usage">Использование</a>
            <ol>
                <li><a href="#visible">Отображение (visible)</a></li>
                <li><a href="#hide">Скрытие (hide)</a></li>
            </ol>
        </li>
    </ol>

    <div class="b-divider"></div>

    <h2><a name="usage"></a>Использование</h2>

    <h3><a name="visible"></a>Отображение</h3>

    <div class="b-segment">
        <p class="b-ribbon b-ribbon_offset">Отображать для small</p>
        <p>Код:</p>
        <pre><code class="html">{% filter escape %}{{ visible('visible', 'small', 'only') }}{% endfilter %}</code></pre>

        <div class="b-divider b-divider_offset"></div>

        <p>Пример (изменяйте размер браузера):</p>
        {{ visible('visible', 'small', 'only') }}
    </div>

    <div class="b-segment">
        <p class="b-ribbon b-ribbon_offset">Отображать для small и выше</p>
        <p>Код:</p>
        <pre><code class="html">{% filter escape %}{{ visible('visible', 'small', 'up') }}{% endfilter %}</code></pre>

        <div class="b-divider b-divider_offset"></div>

        <p>Пример (изменяйте размер браузера):</p>
        {{ visible('visible', 'small', 'up') }}
    </div>

    <div class="b-segment">
        <p class="b-ribbon b-ribbon_offset">Отображать для <code>medium</code></p>
        <p>Код:</p>
        <pre><code class="html">{% filter escape %}{{ visible('visible', 'medium', 'only') }}{% endfilter %}</code></pre>

        <div class="b-divider b-divider_offset"></div>

        <p>Пример (изменяйте размер браузера):</p>
        {{ visible('visible', 'medium', 'only') }}
    </div>

    <div class="b-segment">
        <p class="b-ribbon b-ribbon_offset">Отображать для <code>medium</code> и выше</p>
        <p>Код:</p>
        <pre><code class="html">{% filter escape %}{{ visible('visible', 'medium', 'up') }}{% endfilter %}</code></pre>

        <div class="b-divider b-divider_offset"></div>

        <p>Пример (изменяйте размер браузера):</p>
        {{ visible('visible', 'medium', 'up') }}
    </div>

    <div class="b-segment">
        <p class="b-ribbon b-ribbon_offset">Полный пример для only</p>
        <p>Код:</p>
        <pre><code class="html">{% filter escape %}{{ visible('visible', 'small', 'only') }}
{{ visible('visible', 'medium', 'only') }}
{{ visible('visible', 'large', 'only') }}
{{ visible('visible', 'xlarge', 'only') }}
{{ visible('visible', 'xxlarge', 'only') }}{% endfilter %}</code></pre>

        <div class="b-divider b-divider_offset"></div>

        <p>Пример (изменяйте размер браузера):</p>
        {{ visible('visible', 'small', 'only') }}
        {{ visible('visible', 'medium', 'only') }}
        {{ visible('visible', 'large', 'only') }}
        {{ visible('visible', 'xlarge', 'only') }}
        {{ visible('visible', 'xxlarge', 'only') }}
    </div>

    <div class="b-segment">
        <p class="b-ribbon b-ribbon_offset">Полный пример для up</p>
        <p>Код:</p>
        <pre><code class="html">{% filter escape %}{{ visible('visible', 'small', 'up') }}
{{ visible('visible', 'medium', 'up') }}
{{ visible('visible', 'large', 'up') }}
{{ visible('visible', 'xlarge', 'up') }}
{{ visible('visible', 'xxlarge', 'up') }}{% endfilter %}</code></pre>

        <div class="b-divider b-divider_offset"></div>

        <p>Пример (изменяйте размер браузера):</p>
        {{ visible('visible', 'small', 'up') }}
        {{ visible('visible', 'medium', 'up') }}
        {{ visible('visible', 'large', 'up') }}
        {{ visible('visible', 'xlarge', 'up') }}
        {{ visible('visible', 'xxlarge', 'up') }}
    </div>

    <div class="b-divider"></div>

    <h3><a name="hide"></a>Скрытие</h3>

    <div class="b-segment">
        <p class="b-ribbon b-ribbon_offset">Скрывать для <code>medium</code></p>
        <p>Код:</p>
        <pre><code class="html">{% filter escape %}{{ visible('hide', 'medium', 'only') }}{% endfilter %}</code></pre>

        <div class="b-divider b-divider_offset"></div>

        <p>Пример (изменяйте размер браузера):</p>
        {{ visible('hide', 'medium', 'only') }}
    </div>

    <div class="b-divider"></div>

    <div class="b-segment">
        <p class="b-ribbon b-ribbon_offset">Полный пример для <code>only</code></p>

        <p>Код:</p>
        <pre><code class="html">{% filter escape %}{{ visible('visible', 'small', 'only') }}
{{ visible('hide', 'medium', 'only') }}
{{ visible('hide', 'large', 'only') }}
{{ visible('hide', 'xlarge', 'only') }}
{{ visible('hide', 'xxlarge', 'only') }}{% endfilter %}</code></pre>

        <div class="b-divider b-divider_offset"></div>

        <p>Пример (изменяйте размер браузера):</p>
        {{ visible('hide', 'small', 'only') }}
        {{ visible('hide', 'medium', 'only') }}
        {{ visible('hide', 'large', 'only') }}
        {{ visible('hide', 'xlarge', 'only') }}
        {{ visible('hide', 'xxlarge', 'only') }}
    </div>

    <div class="b-segment">
        <p class="b-ribbon b-ribbon_offset">Полный пример для <code>up</code></p>

        <p>Код:</p>
        <pre><code class="html">{% filter escape %}{{ visible('visible', 'small', 'only') }}
{{ visible('hide', 'medium', 'up') }}
{{ visible('hide', 'large', 'up') }}
{{ visible('hide', 'xlarge', 'up') }}
{{ visible('hide', 'xxlarge', 'up') }}{% endfilter %}</code></pre>

        <div class="b-divider b-divider_offset"></div>

        <p>Пример (изменяйте размер браузера):</p>
        {{ visible('hide', 'small', 'up') }}
        {{ visible('hide', 'medium', 'up') }}
        {{ visible('hide', 'large', 'up') }}
        {{ visible('hide', 'xlarge', 'up') }}
        {{ visible('hide', 'xxlarge', 'up') }}
    </div>
{% endblock %}