{% extends "base.html" %}

{% block content %}
    <h1 class="b-heading">Flash messages</h1>

    <div class="b-tab">
        <div class="b-tab__header">
            <div class="b-tab__tab b-tab__tab_active" data-tab="example">Example</div>
            <div class="b-tab__tab" data-tab="source">Source</div>
        </div>
        <div data-tab="example" class="b-tab__content b-tab__content_active">
            {% include "example/ui/_flash.html" %}
        </div>
        <div data-tab="source" class="b-tab__content">
            {% set itemHtml %}{% include "example/ui/_flash.html" %}{% endset %}
            <pre>{{ itemHtml|escape }}</pre>

            <h3 class="b-heading">Symfony example</h3>

            {% set itemHtml %}{% include "example/ui/_flash_symfony.html" %}{% endset %}
            <pre>{{ itemHtml|escape }}</pre>
        </div>
    </div>

    <h2 class="b-heading">JS компонент</h2>

    <pre>import $ from 'jquery';

$(document)
    .on('click', '.b-flash', e => {
        e.preventDefault();

        let $target = $(e.target);
        $target.fadeOut(300, () => {
            $target.remove();
        });
    });
</pre>
{% endblock %}