{% extends "base.html" %}

{% block content %}
    <h1 class="b-heading">Сочетания клавиш</h1>

    <h2 class="b-heading">Выравнивание по центру</h2>

    <div class="b-tab">
        <div class="b-tab__header">
            <div class="b-tab__tab b-tab__tab_active" data-tab="example">Example</div>
            <div class="b-tab__tab" data-tab="source">Source</div>
        </div>
        <div data-tab="example" class="b-tab__content b-tab__content_active">
            Нажмите <span class="b-kbd">⌘ + D</span> и добавьте страницу в закладки!
        </div>
        <div data-tab="source" class="b-tab__content">
            {% set itemHtml %}Нажмите <span class="b-kbd">⌘ + D</span> и добавьте страницу в закладки!{% endset %}
            <pre>{{ itemHtml|escape }}</pre>
        </div>
    </div>
{% endblock %}