{% extends "base.html" %}

{% block content %}
    <h1 class="b-heading">Подсказки (CSS only)</h1>

    <span class="b-button b-button_primary b-tooltip b-tooltip_top" data-tooltip="Hello world">Наведите на меня!</span>

    <h2 class="b-heading">Позиционирование и цвета</h2>

    <div class="b-tab">
        <div class="b-tab__header">
            <div class="b-tab__tab b-tab__tab_active" data-tab="example">Example</div>
            <div class="b-tab__tab" data-tab="source">Source</div>
        </div>
        <div data-tab="example" class="b-tab__content b-tab__content_active">
            {% include "example/ui/_tooltip.html" %}
        </div>
        <div data-tab="source" class="b-tab__content">
            {% set itemHtml %}{% include "example/ui/_tooltip.html" %}{% endset %}
            <pre>{{ itemHtml|escape }}</pre>
        </div>
    </div>
{% endblock %}