// class prefix for all grid classes
$flexy-prefix: 'b' !default;

// will inform the grid loops how many columns there should be.
$flexy-grid-columns: 12 !default;

// will inform the grid loops how big eac column's gutters should be.
$flexy-grid-gutter: 0.5rem !default;

// will inform the grid how many px can contain container
$flexy-grid-wrapper-width: 100% !default;

// string used for the row class
$flexy-grid-class-row: 'row' !default;

// The grid will name columns, rows, offsets based on these three variables:
// $flexy-grid-class-container string used for the column container class
$flexy-grid-class-wrapper: 'wrapper' !default;

// $flexy-grid-class-col string used for the column class
$flexy-grid-class-col: 'col' !default;

// $flexy-grid-class-off string used for the offset class
$flexy-grid-class-off: 'off' !default;
