.b-anchor {
  $size: 16px;

  opacity: 0;
  transition: opacity .2s linear;
  float: left;
  margin-left: -($size + 10px);
  width: $size;
  height: $size;
  cursor: pointer;
  text-decoration: none;
  color: silver;
  outline: none;

  &::before {
    width: $size;
    height: $size;
    display: block;
    font-family: 'Icons';
    content: "\f0c1";
    font-size: $size;
  }
}