.b-coming {
  background: {
    color: #c0392b;
  }
  color: #fff;
  font-size: $flexy-body-font-size * .7;
  top: -20px;
  left: 5px;
  position: relative;
  padding: 2px 4px;
  border-radius: 3px;
}