// Based on http://type-scale.com/

$flexy-modular-scale: (
        minor-second: 1.067,
        major-second: 1.125,
        minor-third: 1.200,
        major-third: 1.250,
        perfect-fourth: 1.333,
        augmented-fourth: 1.414,
        perfect-fifth: 1.500,
        golden-ratio: 1.618
);

@function flexy-get-modular-scale($name) {
  @return map-get($flexy-modular-scale, $name);
}

// Использование:
// @include flexy-type-scale($flexy-typo-base-font-size, flexy-get-modular-scale(golden-ratio));
// Генерация размеров заголовков с помощью modular_scale. См _modular_scale.scss
// Не используйте этот миксин в продакшене вместе с вертикальным ритмом, создан для отладки и примера.
// С вертикальным ритмом в данный момент не проинтегрирован.
@mixin flexy-type-scale($base-font-size, $ratio: 1.333) {
  @for $i from 6 through 1 {
    h#{$i} {
      $size: pow($ratio, 5-$i) * $base-font-size;
      font-size: to-em($size);
      line-height: $size * $ratio;

      @content;
    }
  }
}