.#{$flexy-prefix}-segment {
  border-radius: $flexy-block-segment-border-radius;
  background: $flexy-block-segment-background;
  position: relative;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(126, 142, 177, 0.12);
  margin-bottom: 1em;

  &__content {
    padding: $flexy-block-segment-padding-vertical
      $flexy-block-segment-padding-horizontal;
  }

  &__footer {
    position: relative;
    background: {
      image: linear-gradient(to bottom, rgba(#000, 0.05) 0, #fff 64px);
    }
    border-top: 1px solid rgba(#000, 0.05);
    margin-top: 1em;
    border-radius: 0 0 $flexy-block-segment-border-radius
      $flexy-block-segment-border-radius;
    border-top: 1px solid rgba(#000, 0.07);
    background: {
      image: linear-gradient(to bottom, rgba(#000, 0.05) 0, #fff 12px);
    }
  }

  .b-divider {
    padding: 0;
    margin: 0;
  }
}
