$flexy-block-segment-background: #fff !default;
$flexy-block-segment-border-radius: 6px !default;
$flexy-block-segment-padding-horizontal: 2em !default;
$flexy-block-segment-padding-vertical: 1.5em !default;
