$flexy-block-segment-background: #fff !default;
$flexy-block-segment-divider-color: $flexy-theme-divider-color !default;
$flexy-block-segment-panel: (
        border-top: 2px solid $flexy-theme-divider-color,
) !default;